<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Administración</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
        <link rel="stylesheet" type="text/css" th:href="@{/adminlte/css/all.min.css}" />
    </head>
    <body>
        <div class="container">
            <div th:replace="~{management/fragments/commons :: header}"></div>
            <div>
                CONTENT
            </div>
            <div th:replace="~{management/fragments/commons :: footer}"></div>
        </div>
    </body>
</html>