spring.application.name=Webpage
spring.security.user.name=username
spring.security.user.password=password

# Server
server.error.whitelabel.enabled=false
server.error.path=/error
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.web.ErrorMvcAutoConfiguration

# JPA Configurations
spring.jpa.open-in-view=false
spring.jpa.show-sql=false
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MariaDBDialect

# 1 - TEST, 2 - QA, 3 - PRD
webpage.environment=1