# Puerto en producción
server.port=${SERVER_PORT}
app.allowed.domain=${SERVER_HOSTNAME}

# TLS Configuration
server.ssl.enabled=${SERVER_SSL_ENABLED}
server.ssl.key-store=${SERVER_SSL_KEY_STORE}
server.ssl.key-store-type=${SERVER_SSL_KEY_STORE_TYPE}
server.ssl.key-alias=${SERVER_SSL_KEY_ALIAS}
server.ssl.key-store-password=${SSL_KEYSTORE_PASSWORD}
server.ssl.protocol=TLS
server.ssl.enabled-protocols=TLSv1.2,TLSv1.3
server.ssl.ciphers=TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384,TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256
# Client Authentication (opcional)
server.ssl.client-auth=none

# Base de datos MariaDB (producción)
spring.datasource.webpage.jdbc-url=${DATABASE_JDBC_URL}
spring.datasource.webpage.username=${DATABASE_USER}
spring.datasource.webpage.password=${DATABASE_PASSWORD}
spring.datasource.webpage.driver-class-name=org.mariadb.jdbc.Driver
spring.datasource.webpage.hibernate.dialect=org.hibernate.dialect.MariaDBDialect
spring.datasource.webpage.hikari.minimum-idle=10
spring.datasource.webpage.hikari.maximum-pool-size=10
spring.datasource.webpage.hikari.connection-timeout=30000
spring.datasource.webpage.hikari.idle-timeout=600000
spring.datasource.webpage.hikari.max-lifetime=1800000
spring.datasource.webpage.hikari.pool-name=MariaDBHikariCP
spring.datasource.webpage.hikari.validation-timeout=5000
spring.datasource.webpage.hikari.connection-test-query=SELECT 1

# Oracle DB (Producción)
spring.datasource.sisbur.jdbc-url=${SISBUR_JDBC_URL}
spring.datasource.sisbur.username=${SISBUR_USERNAME}
spring.datasource.sisbur.password=${SISBUR_PASSWORD}
spring.datasource.sisbur.driver-class-name=oracle.jdbc.OracleDriver
spring.datasource.sisbur.hikari.minimum-idle=10
spring.datasource.sisbur.hikari.maximum-pool-size=10
spring.datasource.sisbur.hikari.connection-timeout=30000
spring.datasource.sisbur.hikari.idle-timeout=600000
spring.datasource.sisbur.hikari.max-lifetime=1800000
spring.datasource.sisbur.hikari.pool-name=OracleDBHikariCP
spring.datasource.sisbur.hikari.validation-timeout=5000
spring.datasource.sisbur.hikari.connection-test-query=SELECT 1 FROM DUAL

# SISFISCAL Oracle DB (Producción)
spring.datasource.sisfiscal.jdbc-url=${SISFISCAL_JDBC_URL}
spring.datasource.sisfiscal.username=${SISFISCAL_USERNAME}
spring.datasource.sisfiscal.password=${SISFISCAL_PASSWORD}
spring.datasource.sisfiscal.driver-class-name=oracle.jdbc.OracleDriver
spring.datasource.sisfiscal.hikari.minimum-idle=10
spring.datasource.sisfiscal.hikari.maximum-pool-size=10
spring.datasource.sisfiscal.hikari.connection-timeout=30000
spring.datasource.sisfiscal.hikari.idle-timeout=600000
spring.datasource.sisfiscal.hikari.max-lifetime=1800000
spring.datasource.sisfiscal.hikari.pool-name=BMTKMDINOracleHikariCP
spring.datasource.sisfiscal.hikari.validation-timeout=5000
spring.datasource.sisfiscal.hikari.connection-test-query=SELECT 1 FROM DUAL

# Endpoints
sisbur.backend.host=http://10.10.50.28/bursa
sisbur.backend.endpoint=/api
sisbur.ms.host=http://10.20.50.132:9001
sisbur.ms.endpoint=/api/webpage
