spring.application.name="Página Web"

spring.security.user.name=username
spring.security.user.password=password

# Must match with Dockerfile and docker-compose.yml files
server.port=10200 

server.error.whitelabel.enabled=false
spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.web.ErrorMvcAutoConfiguration
server.error.path=/error

# JPA Configurations
spring.jpa.show-sql=true
spring.jpa.hibernate.ddlAuto=update

# Backend database
# Docker: backend.datasource.jdbc-url=jdbc:mysql://webpage_db:53307/webpage?createDatabaseIfNotExist=true
# Local: 
backend.datasource.jdbc-url=jdbc:mysql://localhost:3306/webpage?createDatabaseIfNotExist=true
backend.datasource.username=
backend.datasource.password=
backend.datasource.driverClassName=com.mysql.cj.jdbc.Driver
backend.datasource.hibernate.dialect=org.hibernate.dialect.MySQLDialect
backend.datasource.hikari.minimum-idle=5
backend.datasource.hikari.maximum-pool-size=10
backend.datasource.hikari.connectionTimeout=30000
backend.datasource.hikari.idleTimeout=600000
backend.datasource.hikari.maxLifetime=1800000
backend.datasource.hikari.validation-timeout=5000
backend.datasource.hikari.connection-test-query=SELECT 1

# SisBur
# PROD: sisbur.datasource.jdbc-url=jdbc:oracle:thin:@10.20.50.200:1525:BMTKSIS
# QA: sisbur.datasource.jdbc-url=jdbc:oracle:thin:@10.20.50.200:1525:BMTKSIS
sisbur.datasource.username=
sisbur.datasource.password=
sisbur.datasource.driverClassName=oracle.jdbc.OracleDriver
sisbur.datasource.hikari.minimum-idle=5
sisbur.datasource.hikari.maximum-pool-size=10
sisbur.datasource.hikari.connectionTimeout=30000
sisbur.datasource.hikari.idleTimeout=600000
sisbur.datasource.hikari.maxLifetime=1800000
sisbur.datasource.hikari.validation-timeout=5000
sisbur.datasource.hikari.connection-test-query=SELECT 1

# Endpoints
# Local: sisbur.backend.host=http://localhost:8027
# QA: sisbur.backend.host=http://10.20.50.6
# Prod: sisbur.backend.host=http://10.10.50.28
sisbur.backend.endpoint=/api
