<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner back-img-AN">
                    <div class="inner text-center">
                        <h3 class="title text-white uppercase">Nuestra experiencia</h3>
                        <h4 class="text-white uppercase">sigue haciendo historia</h4>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
             <div class="clearfix"></div>

            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Acerca de Nosotros</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"> <img th:src="@{public/images/acerca-de-nosotros/logo-toro-bursametrica.svg}" alt="" class="img-responsive"/> </div>
                        <!--end item-->
                        
                        <div class="col-md-8"> <br/>
                            <h3 class="section-title uppercase">Quienes somos</h3>
                            <div class="title-line-8"></div>
                            <p>Somos una casa de bolsa con alto nivel de especialización en el manejo de inversiones y financiamiento bursátil, respaldados por una marca reconocida por más de 30 años en la industria financiera de México.</p>
                            <p>Nuestro sentido de responsabilidad junto con la amplia experiencia de colaboradores y directivos orientados a dar el mejor servicio personalizado a través de nuestros productos, soluciones integrales y tecnología de vanguardia, constituyen la base de las relaciones confiables y duraderas que siempre establecemos con nuestros clientes.</p>
                            <br/>
                            <h3 class="section-title uppercase">Nuestra Misión</h3>
                            <div class="title-line-8"></div>
                            <p>Ofrecer tranquilidad patrimonial a nuestros Inversionistas con servicio personalizado y rendimientos atractivos.</p>
                            <br/>
                            <h3 class="section-title uppercase">Nuestra cultura</h3>
                            <div class="title-line-8"></div>
                            <div class="accordion_holder">
                                <div class="accordion-BM-cultura">
                                    <!-- Section 1 -->
                                    <div class="accordion_in two acc_active">
                                        <div class="acc_head text-colorBM">Orientados al servicio</div>
                                        <div class="acc_content">Somos claros que todo inversionista tiene necesidades financieras únicas, razón por la cual nuestro servicio siempre es personalizado tomando como guía la entrega de resultados satisfactorios hacia nuestros clientes.</div>
                                    </div>
                                    
                                    <!-- Section 2 -->
                                    <div class="accordion_in two">
                                        <div class="acc_head text-colorBM">Trabajar en equipo</div>
                                        <div class="acc_content">Entendemos que la mejor manera de lograr un servicio de excelencia hacia nuestros clientes es trabajando coordinadamente en toda la organización para cumplir adecuadamente con todo tipo de necesidad y buscando superar expectativas.</div>
                                    </div>
                                    
                                    <!-- Section 3 -->
                                    <div class="accordion_in two">
                                        <div class="acc_head text-colorBM">Escuchar con atención</div>
                                        <div class="acc_content">Reconocemos que nunca hay que dar por hecho las cosas y saber escuchar es el primer paso en entender toda necesidad, por muy sutil que esta sea, para encontrar la mejor solución posible en cumplimiento de nuestros compromisos y avanzar sobre cualquier requerimiento de nuestro cliente.</div>
                                    </div>
                                    <!-- Section 4 -->
                                    <div class="accordion_in two">
                                        <div class="acc_head text-colorBM">Innovar para mejorar continuamente</div>
                                        <div class="acc_content">Trabajamos diariamente para crear e innovar nuevas formas de trabajo, productos y servicios, generando el mayor valor agregado posible a nuestros clientes de la mano del avance tecnológico.</div>
                                    </div>
                                    <!-- Section 5 -->
                                    <div class="accordion_in two">
                                        <div class="acc_head text-colorBM">Entregar calidad y profesionalismo</div>
                                        <div class="acc_content">Valoramos a nuestra gente como el activo más importante por su experiencia, profesionalismo, honestidad y actitud de servicio,  distinguiéndonos como uno de los equipos más comprometido, profesional y competente del mercado bursátil.</div>
                                    </div>
                                    <!-- Section 6 -->
                                    <div class="accordion_in two">
                                        <div class="acc_head text-colorBM">Brindar claridad y transparencia</div>
                                        <div class="acc_content">Disciplinados en seguir procesos que nos permiten comunicar e interactuar oportunamente con sinceridad en todo momento estableciendo relaciones de confianza con cada uno de nuestros colaboradores, proveedores y clientes.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion end --> 
                        </div>
                        <!--end item--> 
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="section-title uppercase">Nuestra Historia</h3>
                            <div class="title-line-8"></div>
                        </div>
                        <!--end item-->
                        <div class="col-md-12">
                        <div class="clearfix"></div>
                        <div class="divider-line dashed light margin"></div>
                        <br/>
                        <div class="carousel_holder">
                            <div id="owl-historia" class="owl-carousel owl-theme">
                            <div class="item">
                                <h3>- 2000 -</h3>
                                <div class="divider-line solid dark opacity-7"></div>
                                <br/>
                                <h5 class="text-colorBM">Se consituye ABN AMRO Securities México con autorización de la CNBV.</h5>
                            </div>
                            <div class="item">
                                <h3>- 2013 -</h3>
                                <div class="divider-line solid dark opacity-7"></div>
                                <br/>
                                <h5 class="text-colorBM">Dumbarton Securities México, subsidiaria de The Royal Bank of Scotland NV, previa autorización de la CNBV, adquiere y modifica la denominación de ABN AMRO Securities</h5>
                            </div>
                            <div class="item">
                                <h3>- 2017 -</h3>
                                <div class="divider-line solid dark opacity-7"></div>
                                <br/>
                                <h5 class="text-colorBM">La CNBV autoriza la transmisión accionaria de Dumbarton Securities a Bursamétrica Casa de Bolsa, S.A. de C.V.</h5>
                            </div>
                            <div class="item">
                                <h3>- 2018 -</h3>
                                <div class="divider-line solid dark opacity-7"></div>
                                <br/>
                                <h5 class="text-colorBM">Bursamétrica Casa de Bolsa recibe el Oficio de Inicio de Operaciones por parte de las autoridades.</h5>
                            </div>

                            <div class="item">
                                <h3>- 2021 -</h3>
                                <div class="divider-line solid dark opacity-7"></div>
                                <br/>
                                <h5 class="text-colorBM">Evolución a BCB</h5>
                            </div>
                            <div class="item"><img src="public/images/logo/BCB-logo-colorlt.svg" alt=""/><br/>
                                <br/>
                                <h5 class="text-colorBM">Somos el  resultado de +25 años de  experiencia en la industria  de servicios financieros.</h5>
                            </div>
                            </div>
                        </div>
                        <!--end item--> 
                        </div>
                        <!--end item--> 
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <main class="app-main">
                
            </main>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div class="contacto-pop colorBM"><a href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto"><i class="fa fa-envelope"></i> Contáctanos</a></div>
            <a href="#" class="scrollup colorBM"></a><!-- end scroll to top of the page--> 
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
