<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner back-img-PF-planeacion">
                <div class="inner text-center">
                    <h3 class="text-white uppercase">Planeación Financiera</h3>
                </div>
                <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>
            <section>
                <div class="pagination-holder">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> <a th:href="@{/personas-y-familias}">Personas y Familias</a><i> / </i>Planeación Financiera</div>
                    </div>
                    </div>
                </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <section class="sec-moreless-padding">
                <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-sm-push-5 col-xs-6 col-xs-push-3"> <img th:src="@{public/images/iconos/logo-planeacion-financiera.svg}" alt=""/> </div>
                    <div class="col-xs-12 text-left">
                    <h4 class="text-center">“Nuestro proceso de planeación prioriza los resultados mediante la inversión y brinda tranquilidad a nuestros clientes”</h4>
                    <br/>
                    <p>Creemos en una clara comunicación como el inicio del proceso de planificación para ayudar a nuestros clientes a satisfacer sus necesidades financieras actuales y alcanzar las metas en el plazo prestablecido por ellos.</p>
                    <p>Nuestro proceso es el siguiente:</p>
                    </div>
                </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <section class="parallax-section-PF">
                <div class="section-overlay dark">
                    <div class="container sec-tpadding-2">
                        <div class="row">
                            <div class="col-md-4"> <img th:src="@{public/images/personas-familias/PF-planeacion-financiera-proceso-B.jpg}" alt="" class="img-responsive"/> </div>
                            <!--end item -->
                            
                            <div class="col-md-8 text-left"> <br/>
                                <h4 class="text-white">“Comenzamos  con conocerle y aprender de usted”.</h4>
                                <div class="title-line-8 marginbottom left"></div>
                                <div class="clearfix"></div>
                                <div class="item-holder">
                                    <div class="iconbox-small round grayoutline left"><i class="fa fa-laptop"></i></div>
                                    <div class="text-box-right">
                                        <h4 class="text-white">Escuchamos atentamente </h4>
                                        <p class="text-white">y aprendemos lo que más valora al establecer sus metas.</p>
                                    </div>
                                </div>
                                <!--end item --> 
                                <br/>
                                <br/>
                                <div class="item-holder">
                                    <div class="iconbox-small round grayoutline left"><i class="fa fa-coffee"></i></div>
                                    <div class="text-box-right">
                                        <h4 class="text-white">Comprendemos</h4>
                                        <p class="text-white">los sentimientos que mantiene sobre la administración del dinero y las inversiones.</p>
                                    </div>
                                </div>
                                <!--end item --> 
                                <br/>
                                <br/>
                                <div class="item-holder">
                                    <div class="iconbox-small round grayoutline left"><i class="fa fa-folder-open"></i></div>
                                    <div class="text-box-right">
                                        <h4 class="text-white">Analizamos</h4>
                                        <p class="text-white">la situación financiera necesaria para realizar su plan</p>
                                    </div>
                                </div>
                                <!--end item --> 
                                <br/>
                                <br/>
                                <div class="item-holder">
                                    <div class="iconbox-small round grayoutline left"><i class="fa fa-folder-open"></i></div>
                                    <div class="text-box-right">
                                        <h4 class="text-white">Presentamos</h4>
                                        <p class="text-white">la opción del plan financiero adecuado para sus requerimientos, trabajando siempre a su lado.</p>
                                    </div>
                                </div>
                                <!--end item --> 
                                <br/>
                                <br/>
                                <div class="item-holder">
                                    <div class="iconbox-small round grayoutline left"><i class="fa fa-folder-open"></i></div>
                                    <div class="text-box-right">
                                        <h4 class="text-white">Nos encargamos de llevarlo acabo</h4>
                                        <p class="text-white">y  durante el trayecto lo mantendremos informado de manera clara y oportuna sobre los pasos hacia su meta especifica.</p>
                                    </div>
                                </div>
                                <!--end item --> 
                                <br/>
                                <br/>
                                <div class="item-holder">
                                    <div class="iconbox-small round grayoutline left"><i class="fa fa-folder-open"></i></div>
                                    <div class="text-box-right">
                                        <h4 class="text-white">Permanecemos siempre atentos </h4>
                                        <p class="text-white">y cercanos a usted para cualquier ajuste requerido en su plan ante los cambios en las condiciones de los mercados  financieros.</p>
                                    </div>
                                </div>
                                <!--end item --> 
                                <br/>
                                <br/>
                            </div>
                            <!--end item --> 
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-left">
                        <p>Sin duda las razones de planear son múltiples para cada uno de nuestros clientes, pero en común tienen el compromiso de nuestra experiencia y  oferta de servicios integrales para su beneficio:</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <section class="sec-bpadding-1">
                <div class="container">
                <div class="row">
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-sm-4 col-sm-push-4">
                        <div class="feature-box7 text-center bmargin fideicomiso-fisica">
                            <img th:src="@{public/images/iconos/fideicomiso-fisica-a.svg}" alt=""/>
                            <br/>
                            <br/>
                            <h4>Fideicomisos <br/>
                            Personas Físicas</h4>
                            <br/>
                            <a class="btn btn-border light btn-round" th:href="@{/fideicomisos-personas-fisicas}">Más información</a>
                        </div>
                    </div>
                    <!--end item--> 
                </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>
            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-center">Para más información de nuestros servicios de Planeación Financiera como una solución para sus necesidades, estamos para servirle.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>
            <section class="sec-moreless-padding section-colorBM-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-border white-2 btn-large btn-round btn-send-email" href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto" data-origin="2">Contacto Planeación Financiera</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
