<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>
            <section>
                <div class="header-inner back-img-II">
                <div class="inner text-center">
                    <h3 class="title text-white uppercase">Inversionista</h3>
                    <h4 class="text-white uppercase">Institucional</h4>
                </div>
                <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section>
                <div class="pagination-holder">
                <div class="container">
                    <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Inversionista Institucional</div>
                    </div>
                    </div>
                </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 nopadding">
                            <div class="feature-box21">
                                <div class="background-imgholder back-img-II-01">
                                <div class="overlay bg-opacity-6"></div>
                                </div>
                                <div class="text-box text-center"> <br/>
                                    <br/>
                                    <h3 class="text-white section-title">PLANES DE PREVISIÓN SOCIAL, PENSIONES Y AHORRO INSTITUCIONAL</h3>
                                    <p class="text-light">“Soluciones  integrales de ahorro e inversión para sus colaboradores”</p>
                                    <br/>
                                    <h3 class="text-white section-title">RECORD KEEPING</h3>
                                    <p class="text-light">“La forma más práctica y efectiva de administrar cuentas”</p>
                                    <br/>
                                    <a class="btn btn-border white btn-round" th:href="@{/planes-de-prevision-social-pensiones-y-ahorro-institucional}">Más información</a>
                                </div>
                            </div>
                        </div>
                        <!--end item--> 
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 nopadding">
                            <div class="feature-box21">
                                <div class="background-imgholder back-img-II-02">
                                    <div class="overlay bg-opacity-6"></div>
                                </div>
                                <div class="text-box text-center"> <br/>
                                    <br/>
                                    <h3 class="text-white section-title">TESORERÍAS</h3>
                                    <p class="text-light">“La oportuna atención para el manejo de liquidez y excedentes”</p>
                                    <br/>
                                    <a class="btn btn-border white btn-round" th:href="@{/tesorerias}">Más información</a>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        <div class="col-md-6 nopadding clearfix">
                            <div class="feature-box21">
                                <div class="background-imgholder back-img-II-03">
                                    <div class="overlay bg-opacity-6"></div>
                                </div>
                                <div class="text-box text-center"> <br/>
                                    <br/>
                                    <h3 class="text-white section-title">BANCA DE INVERSIÓN</h3>
                                    <p class="text-light">“La creación de capital mediante la correcta asesoría financiera”</p>
                                    <br/>
                                    <a class="btn btn-border white btn-round" th:href="@{/banca-de-inversion}">Más información</a>
                                </div>
                            </div>
                        </div>
                        <!--end item--> 
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
