<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>
            <section>
                <div class="header-inner back-img-PS-gestion-inversiones">
                    <div class="inner text-center">
                        <h3 class="text-white uppercase">Gestión de Inversiones &amp; Mandatos</h3>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>
            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> <a th:href="@{/productos-y-servicios}">Productos y Servicios</a><i> / </i> Gestión de Inversiones y Mandatos</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-push-5 col-xs-6 col-xs-push-3"> <img th:src="@{public/images/iconos/logo-bursametrica-gestion-inversiones.svg}" alt=""/> </div>
                        <div class="col-xs-12 text-left">
                            <h4 class="text-center">"La experiencia de estar en buenas manos.”</h4>
                            <br/>
                            <p>Nuestra área de gestión de inversiones se caracteriza por estar conformada por un equipo especializado con más de 25 años de experiencia diseñando y administrando estrategias con un enfoque alineado a los intereses de nuestros clientes, fundamentado en las mejores prácticas bursátiles y política de mejor ejecución.</p>
                            <p>Este conocimiento y experiencia nos permite entregar soluciones innovadoras, procurando el mejor rendimiento ajustado por riesgo posible, conforme a los parámetros y lineamientos de inversión prestablecidos para el cliente, así como el servicio de manejo discrecional cuando el cliente lo desee.</p>
                            <p>Los servicios que ofrecemos van desde diseño de estrategias en directo a la medida para todo tipo de inversionista, estrategias preestablecidas denominadas "Selectivas" y mandatos.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <section class="sec-bpadding-1">
                <div class="container">
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4 col-sm-push-2">
                            <div class="feature-box7 text-center bmargin">
                                <img th:src="@{public/images/iconos/logo-bursametrica-estrategias-selectivas-a.svg}" alt=""/><br/>
                                <br/>
                                <h4>Estrategias Selectivas </h4>
                                <br/>
                                <a class="btn btn-border light btn-round" th:href="@{/estrategias-selectivas}">Más información</a> 
                            </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-md-4 col-sm-4 col-sm-push-2">
                            <div class="feature-box7 text-center bmargin orders">
                                <img th:src="@{public/images/iconos/logo-bursametrica-mandatos-a.svg}" alt=""/>
                                <br/>
                                <br/>
                                <h4>Mandatos</h4>
                                <br/>
                                <a class="btn btn-border light btn-round" th:href="@{/mandatos}">Más información</a>
                            </div>
                        </div>
                        <!--end item--> 
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class=" clearfix"></div>
            <section class="section-light section-side-image clearfix">
                <div class="img-holder col-md-6 col-sm-3 pull-left">
                    <div class="background-imgholder back-img-proceso-inversion"></div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">
                            <div class="text-box">
                                <h5>En términos generales nuestro proceso de inversión contempla:</h5>
                                <ul class="iconlist green2">
                                <li><i class="fa fa-arrow-circle-right"></i> Perspectiva del entorno de los mercados financieros locales e internacionales </li>
                                <li><i class="fa fa-arrow-circle-right"></i> Establecimiento de objetivos y régimen de inversión </li>
                                <li><i class="fa fa-arrow-circle-right"></i> Definición de la estrategia de inversión </li>
                                <li><i class="fa fa-arrow-circle-right"></i> Determinación de la asignación de activos </li>
                                <li><i class="fa fa-arrow-circle-right"></i> Selección de los valores e instrumentos a invertir </li>
                                <li><i class="fa fa-arrow-circle-right"></i> Ejecución de la estrategia de inversión </li>
                                <li><i class="fa fa-arrow-circle-right"></i> Revisión y seguimiento del desempeño de la inversión </li>
                                </ul>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <section class="sec-bpadding sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-center">Para mayor información de nuestros servicios de Gestión de Inversiones como una solución para sus necesidades, estamos para servirle.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>
            <section class="sec-moreless-padding section-colorBM-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-border white-2 btn-large btn-round btn-send-email" href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto" data-origin="2">Contacto Gestión de Inversiones</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            
            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
