<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner back-img-PS-alternativas-inversion">
                    <div class="inner text-center">
                        <h3 class="text-white uppercase">Alternativas de Inversión</h3>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Alternativas de Inversión</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-push-5 col-xs-6 col-xs-push-3"> 
                            <img th:src="@{public/images/iconos/logo-bursametrica-alternativas-inversion-0.svg}" alt=""/>
                        </div>
                        <div class="col-xs-12 text-center">
                            <h4>"Amplitud de opciones para toda necesidad financiera"</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <p>Tenemos a su disposición una robusta oferta de servicios favoreciendo rendimientos competitivos con respecto a las inversiones tradicionales, mediante el acceso a la inversión en el mercado de valores.</p>
                            <p>Lo anterior, considerando características particulares de cada instrumento y valor conforme al mercado donde son negociados, congruentes en todo momento con sus objetivos específicos de inversión, posición financiera, experiencia y conocimientos en materia financiera:</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-bpadding-1">
                <div class="container">
                    <div class="row">
                        <div class="clearfix"></div>
                        <div class="col-sm-2"> <img th:src="@{public/images/iconos/icono-check01-a.svg}" alt=""/> </div>
                        <div class="col-sm-10">
                            <h4>Acceso en directo al mercado de dinero...</h4>
                            <p>...mediante la inversión en una amplia variedad de instrumentos de emisores gubernamentales, bancarios y corporativos favoreciendo la flexibilidad necesaria en plazo y rendimiento para poder estructurar soluciones a la medida y con la liquidez oportuna para conformar la estrategia más eficiente posible.</p>
                            <br/>
                            <div class="divider-line solid light opacity-7"></div>
                        </div>
                        <!--end item-->
                        <div class="clearfix"></div>
                        <div class="col-sm-2"> <img th:src="@{public/images/iconos/icono-check01-a.svg}" alt=""/> </div>
                        <div class="col-sm-10">
                            <h4>Acceso a los mercados de capitales...</h4>
                            <p>...nacionales e internacionales, mediante la inversión en acciones de empresas nacionales listadas para su operación en la Bolsa Mexicana de Valores (BMV) y la Bolsa Institucional de Valores (BIVA), así como al sistema  internacional de cotizaciones (SIC) del mercado global para la operación de acciones extranjeras y ETF´s.</p>
                            <br/>
                            <div class="divider-line solid light opacity-7"></div>
                        </div>
                        <!--end item-->
                        <div class="clearfix"></div>
                        <div class="col-sm-2"> <img th:src="@{public/images/iconos/icono-check01-a.svg}" alt=""/> </div>
                        <div class="col-sm-10">
                            <h4>Acceso a los mercados de divisas...</h4>
                            <p>...y tipos de cambios competitivos con la oportunidad y seguridad en la liquidación de sus operaciones al extranjero y en territorio nacional.</p><br>
                            <p>De la mano de un experimentado equipo de profesionales con experiencia en los mercados cambiarios, nuestro servicio proporciona una respuesta oportuna a los requerimientos de compraventa de divisas de todo inversionista persona física y moral mediante el acceso a tipos de cambio competitivos para sus operaciones acompañado de la certeza en la liquidación de las mismas en México y el extranjero.</p><br>
                            <p>De igual forma tenemos a su disposición los servicios de pagos a terceros, proveedores y dispersión de fondos en divisas y confirmaciones con comprobante electrónicos para su consulta  y seguridad.</p><br>
                            <div class="divider-line solid light opacity-7"></div>
                        </div>
                        <!--end item-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <p class="text-center">Para mayor información de nuestros servicios de Alternativas de Inversión como una solución para sus necesidades, estamos para servirle.</p>
                    </div>
                </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding section-colorBM-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-border white-2 btn-large btn-round btn-send-email" href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto" data-origin="2">Contacto Alternativas Inversión</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
