<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner">
                    <div class="inner text-center">
                        <h2 class="text-white uppercase"><strong>Servicios de Inversión</strong></h2>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Servicios de Inversión</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                             <br>
                             <br>
                             <a th:href="@{/servicios-inversion/descargar?tipo=1}" class="btn btn-white btn-border">
                                Guía de servicios de inversión
                             </a>
                             <br><br>
                             <br><br>
                             <a th:href="@{/servicios-inversion/descargar?tipo=2}" class="btn btn-white btn-border">
                                Contrato de Intermediación Bursátil
                             </a>
                             <br><br>
                             <br><br>
                             <a th:href="@{/servicios-inversion/descargar?tipo=3}" class="btn btn-white btn-border">
                                Marco general de actuación
                             </a>
                             <br><br>
                             <br><br>
                             <a th:href="@{/servicios-inversion/descargar?tipo=4}" class="btn btn-white btn-border">
                                Folleto de Mercado de Capitales
                             </a>
                             <br><br>
                             <br><br>
                             <a th:href="@{/servicios-inversion/descargar?tipo=5}" class="btn btn-white btn-border">
                                Folleto Mejor Ejecución. Funcionamiento del SOR
                             </a>
                             <br><br>
                             <br><br>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
