<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner back-img-II-03">
                    <div class="inner text-center">
                        <h3 class="text-white uppercase"><strong>BANCA DE INVERSION</strong></h3>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Banca de Inversión</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-push-5 col-xs-6 col-xs-push-3"> 
                            <img th:src="@{public/images/iconos/logo-bursametrica-banca-inversion.svg}" alt=""/>
                        </div>
                        <div class="col-xs-12 text-center">
                            <h4>“Financiamiento a la medida de sus proyectos”</h4>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Nuestro servicios se caracterizan por la robusta experiencia en transacciones y asesoría financiera de la división de banca de inversión, con fundamento en la comprensión profunda de las necesidades financieras especificas de cada uno de nuestros clientes; entre los que destacan gobiernos y corporaciones, a los cuales hemos otorgado soluciones especializadas en servicios como: colocación de instrumentos de deuda y capital, restructuración corporativa, ofertas publicas, entre otros.</p>
                            <br>
                            <p>La colocación de los instrumentos de financiamiento emitidos por las empresas emisoras se sustenta en un equipo de promoción con profundo conocimiento de los mercados y en una robusta relación con inversionistas con alto potencial de ahorro.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="section-light sec-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                        <p class="sub-title">Nuestra Banca de Inversión desarrolla esquemas de financiamiento a la medida para empresas y proyectos pertenecientes a cualquier actividad económica, con enfoque especial en los siguientes sectores:</p>
                        </div>
                        <div class="col-md-2 col-sm-6 text-center">
                        <div class="feature-box3 bmargin">
                            <div class="iconbox-xlarge round white">
                            <div class="digit">1</div>
                            <img th:src="@{/public/images/logo/icono-check03-a.svg}" alt=""/> </div>
                            <br/>
                            <h4 class="paddtop1">Infraestructura</h4>
                        </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-md-2 col-sm-6 text-center">
                        <div class="feature-box3 bmargin">
                            <div class="iconbox-xlarge round white">
                            <div class="digit">2</div>
                            <img th:src="@{/public/images/logo/icono-check03-a.svg}" alt=""/> </div>
                            <br/>
                            <h4 class="paddtop1">Energía</h4>
                        </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-md-2 col-sm-6 text-center">
                        <div class="feature-box3 bmargin">
                            <div class="iconbox-xlarge round white">
                            <div class="digit">3</div>
                            <img th:src="@{/public/images/logo/icono-check03-a.svg}" alt=""/> </div>
                            <br/>
                            <h4 class="paddtop1">Financiero</h4>
                        </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-md-2 col-sm-6 text-center">
                        <div class="feature-box3 bmargin">
                            <div class="iconbox-xlarge round white">
                            <div class="digit">4</div>
                            <img th:src="@{/public/images/logo/icono-check03-a.svg}" alt=""/> </div>
                            <br/>
                            <h4 class="paddtop1">Industrial</h4>
                        </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-md-2 col-sm-6 text-center">
                        <div class="feature-box3 bmargin">
                            <div class="iconbox-xlarge round white">
                            <div class="digit">5</div>
                            <img th:src="@{/public/images/logo/icono-check03-a.svg}" alt=""/> </div>
                            <br/>
                            <h4 class="paddtop1">Comercial</h4>
                        </div>
                        </div>
                        <!--end item-->
                        <div class="col-md-2 col-sm-6 text-center">
                        <div class="feature-box3 bmargin">
                            <div class="iconbox-xlarge round white">
                            <div class="digit">6</div>
                            <img th:src="@{/public/images/logo/icono-check03-a.svg}" alt=""/> </div>
                            <br/>
                            <h4 class="paddtop1">Inmobiliario</h4>
                        </div>
                        </div>
                        <!--end item--> 
                        
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="section-light section-side-image clearfix">
                <div class="img-holder col-md-6 col-sm-3 pull-left">
                <div class="background-imgholder img3 back-img-banca-inversion2"></div>
                </div>
                <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7 col-sm-8 col-sm-offset-4 text-inner clearfix align-left">
                    <div class="text-box">
                        <p class="sub-title-left">Entre los instrumentos que nuestra división de Banca de Inversión ofrece a las empresas para atender sus necesidades de financiamiento se encuentran los siguientes:</p>
                        <ul class="iconlist">
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Mercado de Capitales.</strong></li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Emisión Primaria y colocación de acciones.</strong></li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Títulos Fiduciarios Representativos de Capital.</strong>
                            <ul class="margin-left-2">
                            <li><i class="fa fa-arrow-right"></i> Fibras.</li>
                            <li><i class="fa fa-arrow-right"></i> CKDS.</li>
                            <li><i class="fa fa-arrow-right"></i> CERPIS.</li>
                            </ul>
                        </li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Mercado de Deuda.</strong></li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Certificados Bursátiles.</strong></li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Obligaciones.</strong></li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Certificados de Participación Inmobiliaria (CPIS).</strong></li>
                        <li><i class="fa fa-arrow-circle-right"></i> <strong>Certificados de Participación Ordinarios (CPOS).</strong></li>
                        </ul>
                        <br/>
                        <p class="sub-title-left">Realizamos un análisis detallado de los aspectos económicos, financieros y técnicos de su empresa y/o proyecto, para proponer soluciones óptimas  e integrales a sus necesidades de financiamiento.</p>
                    </div>
                    </div>
                </div>
                </div>
            </section>
            <!--end section-->

            <div class="clearfix"></div>
            <section class="sec-bpadding sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-center">Para mayor información de nuestros servicios de Banca de Inversión como una solución para sus necesidades, estamos para servirle.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding section-colorBM-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-border white-2 btn-large btn-round btn-send-email" data-toggle="modal" data-target="#MainMenu-BM-contacto" data-origin="2">Contacto Banca de Inversión
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
