<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner">
                <div class="inner text-center">
                    <h3 class="text-white uppercase">Aviso de Privacidad</h3>
                </div>
                <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Aviso de Privacidad</div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div><br><br><br><br>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 bmargin text-justify">
                            <p>
                                <strong class="uppercase">Bursamétrica Casa de Bolsa, S.A. de C.V.</strong>
                            </p> <br>

                            <p>
                                Conocida como “BCB” (en lo sucesivo, “El Responsable”), con domicilio en Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.
                            </p><br>

                            <p>
                                Con fundamento en los art 15, 16, 17 y demás correlativos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares en lo sucesivo la Ley, pone a su disposición en todo momento el presente Aviso de Privacidad en nuestra página de internet https://www.bcbcasadebolsa.com/, en virtud de los datos personales que se pretenden recabar de usted como titular (en lo sucesivo el titular) de los mismos, puede acceder al contenido de la ley en el portal que el gobierno federal, a través de la Secretaria de Gobernación que pone a su disposición en www.ordenjuridico.gob.mx.
                            </p>
                            
                            <p>
                                <strong class="uppercase">1.    TRATAMIENTO Y FINALIDAD DE DATOS.</strong>
                            </p> <br>

                            <p>
                                El Responsable trata de sus clientes, solicitantes, contratantes, beneficiarios, usuarios, proveedores o prestadores de bienes y/o servicios, empleados, candidatos, todos ellos personas físicas (en lo sucesivo “El Titular”), las siguientes categorías de datos personales: datos de identificación, datos patrimoniales o financieros, datos laborales y datos académicos.
                            </p><br>

                            <p>
                                Los datos personales antes enunciados pueden ser obtenidos del Titular (i) personalmente; (ii) de manera directa, ya sea por vía electrónica, grabación de conversaciones telefónicas o cualquier otra tecnología; a través de solicitudes, cuestionarios o formatos (iii) de manera indirecta a través de fuentes de acceso público o de terceros autorizados por el Responsable, los cuales son recabados y generados de la relación jurídica que se tiene celebrada con el Titular.</p> <br>

                            <p>
                                Los datos personales antes enunciados pueden ser obtenidos del Titular (i) personalmente; (ii) de manera directa, ya sea por vía electrónica, grabación de conversaciones telefónicas o cualquier otra tecnología; a través de solicitudes, cuestionarios o formatos (iii) de manera indirecta a través de fuentes de acceso público o de terceros autorizados por el Responsable, los cuales son recabados y generados de la relación jurídica que se tiene celebrada con el Titular.
                            </p> <br>

                            <p>
                                El Responsable también trata los siguientes datos sensibles: el estado de salud, características físicas, únicamente de sus candidatos y empleados dentro del proceso de selección, reclutamiento y contratación, por medio de evaluaciones técnicas y/o psicológicas, socioeconómicas y médicas. Los cuales se obtienen de manera personal del Titular.
                            </p> <br>

                            <p>
                                Los datos personales que el Responsable trata, son para dos tipos de finalidades: 
                            </p><br>
                            
                            <p>
                                <strong>a.    </strong> Las que dan origen a la relación jurídica entre el Responsable y el Titular, y son necesarias para la existencia, mantenimiento y cumplimiento de dicha relación:</p>

                            <p>
                                <ul style="list-style-type: disc;">
                                    <li style="display: list-item;">Dar cumplimiento a las obligaciones contraídas con el Titular; derivadas de la intermediación en el mercado de valores, en los términos del artículo 171 la Ley del Mercado de Valores; sujetándose a las Disposiciones de Carácter General que dicte la Comisión Nacional Bancaria y de Valores;</li>
                                    <li style="display: list-item;">En el caso de los proveedores o prestadores de bienes y/o servicios, para el cumplimiento de las obligaciones derivadas de la prestación del servicio celebrado entre el Titular y el Responsable, las cuales se establecen en los contratos respectivos;</li>
                                    <li style="display: list-item;">En el caso de los beneficiarios, cuando proceda, entregar los recursos depositados en la cuenta del Titular, de acuerdo con los porcentajes que el mismo Titular haya establecido en el contrato respectivo;</li>
                                    <li style="display: list-item;">En el caso de la relación laboral, se utilizan los datos personales para todos los fines vinculados a la relación. Particularmente, dentro del proceso de selección, reclutamiento y contratación por medio de evaluaciones técnicas y/o psicológicas, socioeconómicas y médicas, se utilizan datos sensibles. También se emplean datos personales en el caso de verificación de referencias de empleos anteriores, integración del expediente laboral cuando la persona sea contratada; mantener los datos de especialidades y competencias para la posible cobertura de vacantes; capacitación, desarrollo, pago de prestaciones laborales y para el cumplimiento de obligaciones tributarias;</li>
                                    <li style="display: list-item;">Identificar al Titular cuando acceda y permanezca en el domicilio del Responsable.</li>
                                    <li style="display: list-item;">Para todos los fines vinculados con la relación jurídica contractual que se tiene celebrada con el Titular.</li>
                                </ul>
                            </p><br>

                            <p>
                                <strong>b.    </strong> Finalidades no necesarias, ni dan origen a la relación jurídica con el Responsable, como: prospección comercial, mercadotecnia, publicidad de otros servicios y/o productos relacionados con el Responsable.
                            </p><br>

                            <p>
                                MECANISMO PARA QUE EL TITULAR MANIFIESTE SU NEGATIVA PARA EL TRATAMIENTO DE SUS DATOS PARA AQUELLAS FINALIDADES QUE NO SON NECESARIAS PARA LA RELACIÓN JURÍDICA:
                            </p><br>

                            <p>
                                El procedimiento implementado para que el Titular manifieste su negativa a que sus datos personales sean utilizados para las finalidades mencionadas en el inciso anterior, será el siguiente: presentar el formato “AVISO DE PRIVACIDAD”, en la oficina del Responsable, ubicada en Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.; en alguna de las oficinas de negocios en el interior de la República (Oficinas); o bien, enviarlo a la dirección de correo.  derechosarco@bcbcasadebolsa.com o comunicarse al teléfono 52 55 1328 3930 ext. 3037.
                            </p><br>

                            <p>
                                En caso de que los datos personales del Titular se recaben de manera indirecta (tal y como se definió anteriormente), el Titular tiene un plazo de 5 (cinco) días hábiles para que manifieste su negativa para el tratamiento de sus datos con respecto a las finalidades antes referidas en este inciso.
                            </p><br>
                            
                            <p>
                                <strong class="uppercase">2.    OPCIONES Y MEDIOS PARA QUE EL TITULAR LIMITE EL USO O DIVULGACIÓN DE SUS DATOS.</strong>
                            </p><br>

                            <p>
                                Esta es otra opción en la cual el Titular limita el uso de sus datos personales, para fines de prospección comercial, mercadotecnia o publicidad: 
                            </p> <br>

                            <p>
                                El Titular también puede inscribirse en los listados internos que el Responsable tiene habilitados para ello, a través del formato “AVISO DE PRIVACIDAD”; que presente en la oficina ubicada en: Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.; o bien enviarlo a la dirección de correo. derechosarco@bcbcasadebolsa.com o comunicarse al teléfono 52 55 1328 3930 ext. 3037.
                            </p> <br>

                            <p>
                                El Responsable se compromete a no transferir su información personal a terceros nacionales o extranjeros sin su consentimiento, salvo:</p> <br>

                            <p>
                                <ul style="list-style-type: disc;">
                                    <li style="display: list-item;">Las excepciones previstas en el artículo 37 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, así como a realizar esta transferencia en los términos que fija dicha Ley;</li>
                                    <li style="display: list-item;">Autoridades financieras, mexicanas y extranjeras, con la finalidad de dar cumplimiento a las obligaciones del Responsable derivadas de leyes o tratados internacionales como institución financiera, obligaciones tributarias, así como para el cumplimiento de notificaciones o requerimientos oficiales;</li>
                                    <li style="display: list-item;">Autoridades judiciales, mexicanas y extranjeras, con la finalidad de dar cumplimiento a notificaciones, requerimientos u oficios de carácter judicial;</li>
                                    <li style="display: list-item;">IMSS (Instituto Mexicano del Seguro Social), con la finalidad de dar cumplimiento a obligaciones contenidas en la legislación de seguridad social;</li>
                                    <li style="display: list-item;">Instituciones, organizaciones o entidades del sector financiero, con la finalidad de dar cumplimiento a las obligaciones contraídas con el Titular.</li>
                                </ul>
                            </p><br>

                            <p>
                                En caso de realizar alguna transferencia de los datos personales del Titular que requiera su consentimiento expreso, se le solicitará.
                            </p><br>

                            <p>
                                <strong class="uppercase">3.    MEDIOS REMOTOS.</strong>
                            </p> <br>

                            <p>
                                Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al servidor de Internet algunos datos sobre este usuario, entre ellos, sus preferencias para la visualización de las páginas de ese servidor, nombre y contraseña.
                            </p><br>

                            <p>
                                Por su parte, la web beacons son imágenes insertadas en una página de Internet o correo electrónico, que puede ser utilizado para monitorear el comportamiento de un visitante, como almacenar información sobre la dirección IP del usuario, duración del tiempo de interacción en dicha página y el tipo de navegador utilizado, entre otros.
                            </p><br>

                            <p>
                                El Responsable no obtiene datos personales a través de dichas tecnologías u otras similares.
                            </p><br>

                            <p>
                                <strong class="uppercase">4.    MEDIOS PARA EL EJERCICIO DE LOS DERECHOS ARCO.</strong>
                            </p> <br>
                            
                            <p>
                                El Titular tiene derecho a acceder a sus datos personales que posee el Responsable, así como a la rectificación o corrección cuando resulten ser inexactos, incompletos o no se encuentren actualizados; solicitar la cancelación de sus datos personales de los archivos, registros, expedientes y sistemas del responsable, a fin de que los mismos ya no estén en posesión del responsable. Es importante que tome en cuenta que no en todos los casos será posible atender su solicitud o concluir. 
                            </p><br>

                            <p>
                                El periodo de bloqueo será equivalente al plazo de prescripción de las acciones derivadas de la relación jurídica que funda el tratamiento en los términos de la Ley aplicable en la materia, y una vez cancelado el dato se avisará a la persona titular.
                            </p> <br>

                            <p>
                                La persona titular podrá ejercer el derecho de acceder, rectificar, cancelar sus datos personales, así como oponerse al tratamiento o revocar el consentimiento de estos que para tal fin haya otorgado. 
                            </p> <br>

                            <p>
                                Los mecanismos implementados para el ejercicio de los Derechos ARCO se ejercen a través de la presentación de la solicitud respectiva en la oficina del Responsable, ubicada en Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.
                            </p><br>

                            <p>
                                Los requisitos son: llenar el formulario que el Titular encuentra en el siguiente: (Formato de Solicitud de Derechos ARCO)
                            </p> <br>

                            <p>
                                Plazos de atención: El Responsable comunicará a la persona titular en el domicilio de este último en un plazo máximo de 20 (veinte) días hábiles contados desde la fecha en que recibió la solicitud, prorrogables en términos de ley, la determinación adoptada para todos los efectos legales a que haya lugar.
                            </p> <br>

                            <p>
                                Los medios para dar respuesta puede ser número telefónico, correo electrónico, o directamente en la oficina ubicada del Responsable, ubicada en Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX. De no cumplir con este requisito, se tendrá por no presentado.
                            </p> <br>

                            <p>
                                El ejercicio de los Derechos ARCO es gratuito, y solo podrán realizarse cobros para recuperar los costos de reproducción, copias o envío.
                            </p> <br>

                            <p>
                                Para conocer los mecanismos implementados para el ejercicio de los Derechos ARCO, el Titular debe ponerse en contacto con el Responsable a través del área de Jurídico, ubicada en: Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.; o bien, a través del correo electrónico derechosarco@bcbcasadebolsa.com o comunicarse al teléfono 52 55 1328 3930 ext. 3037.
                            </p> <br>

                            <p>
                                El Titular también tiene derecho a iniciar un Procedimiento de Protección de Datos ante el Secretaría Anticorrupción y buen Gobierno, dentro de los 15(quince) días hábiles siguientes a la fecha en que reciba la respuesta o partir de que concluya el plazo de 20 (veinte) días hábiles contados a partir de la fecha de recepción de su solicitud de ejercicio de Derechos ARCO.  
                            </p> <br>

                            <p>
                                <strong class="uppercase">5.    MECANISMOS Y PROCEDIMIENTOS PARA LA REVOCACIÓN DEL CONSENTIMIENTO.</strong>
                            </p> <br>

                            <p>
                                En todo momento, el Titular puede revocar el consentimiento que otorgó al Responsable para el tratamiento de sus datos personales, a fin de que el Responsable deje de usarlos y tratarlos.
                            </p> <br>

                            <p>
                                El procedimiento para dicha revocación es el mismo que el descrito con anterioridad para el ejercicio de los Derechos ARCO, mediante la solicitud, con los requisitos, plazos de atención y medios para dar respuesta, mencionados en el numeral anterior.
                            </p> <br>

                            <p>
                                <strong class="uppercase">6.    CAMBIOS AL AVISO DE PRIVACIDAD.</strong>
                            </p><br>

                            <p>
                                El presente Aviso de Privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos requerimientos legales, de las propias necesidades del responsable de acuerdo con los servicios que ofrece de sus prácticas de privacidad, cambios de modelos de negocio o por otras causas.
                            </p> <br>

                            <p>
                                Cualquier modificación al Aviso de Privacidad será notificada a través de la página web institucional https://www.bcbcasadebolsa.com/. El titular entiende y acepta. 
                            </p> <br>

                            <p>
                                Para cualquier asunto relacionado con el presente aviso y el tratamiento de sus datos personales puede contactar al Responsable a través del Departamento de Protección de Datos, ubicada en: Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.; o bien, a través del correo electrónico derechosarco@bcbcasadebolsa.com o comunicarse al teléfono 52 55 13283930 ext. 3037.
                            </p> <br>

                            <p>
                                <strong class="uppercase">7.	TRANSFERENCIA DE DATOS.</strong>
                            </p><br>

                            <p>
                                Los datos personales del Titular únicamente podrán ser transferidos a terceros nacionales y extranjeros en los siguientes casos:
                            </p>
                            <p>
                                <ul style="list-style-type: disc;">
                                    <li style="display: list-item;">Autoridades financieras, mexicanas y extranjeras, con la finalidad de dar cumplimiento a las obligaciones del Responsable derivadas de leyes o tratados internacionales como institución financiera, obligaciones tributarias, así como para el cumplimiento de notificaciones o requerimientos oficiales;</li>
                                    <li style="display: list-item;">Autoridades judiciales, mexicanas y extranjeras, con la finalidad de dar cumplimiento a notificaciones, requerimientos u oficios de carácter judicial;</li>
                                    <li style="display: list-item;">IMSS (Instituto Mexicano del Seguro Social), con la finalidad de dar cumplimiento a obligaciones contenidas en la legislación de seguridad social;</li>
                                    <li style="display: list-item;">Instituciones, organizaciones o entidades del sector financiero, con la finalidad de dar cumplimiento a las obligaciones contraídas con el Titular.</li>
                                </ul>
                            </p><br>

                            <p>
                                Le informamos que sus datos personales podrán ser transferidos sin su consentimiento a terceros dentro y fuera de México de acuerdo con los supuestos contemplados en el artículo 36 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
                            </p> <br>

                            <p>
                                <ul style="list-style-type: disc;">
                                    <li style="display: list-item;">La transferencia esté prevista en una Ley o Tratado en los que México sea parte;</li>
                                    <li style="display: list-item;">La transferencia sea necesaria para la prevención o el diagnóstico médico, la prestación de asistencia sanitaria, tratamiento médico o la gestión de servicios sanitarios;</li>
                                    <li style="display: list-item;">La transferencia sea efectuada a sociedades controladoras, subsidiarias o afiliadas bajo el control común del responsable, o a una sociedad matriz o a cualquier sociedad del mismo grupo del responsable que opere bajo los mismos procesos y políticas internas; </li>
                                    <li style="display: list-item;">La transferencia sea necesaria por virtud de un contrato celebrado o por celebrar en interés de la persona titular, por el responsable y un tercero; </li>
                                    <li style="display: list-item;">La transferencia sea necesaria o legalmente exigida para la salvaguarda de un interés público, o para la procuración o administración de justicia; La transferencia sea precisa para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial, y </li>
                                    <li style="display: list-item;">La transferencia sea precisa para el mantenimiento o cumplimiento de una relación jurídica entre el responsable y la persona titular.</li>
                                </ul>
                            </p><br>

                            <p>
                                <strong class="uppercase">8.	TRATAMIENTO DE SUS DATOS PERSONALES PARA FINALIDADES SECUNDARIAS.</strong>
                            </p> <br>

                            <p>
                                Consiente que sus datos personales sean tratados para prospección comercial, mercadotecnia y publicidad de productos y/o servicios relacionados con Bursamétrica Casa de Bolsa, S. A. de C.V.
                            </p> <br>

                            <p>
                                <strong class="uppercase">9.	TRANSFERENCIA DE DATOS PERSONALES.</strong>
                            </p> <br>

                            <p>
                                La información personal no pública entregada a BURSAMÉTRICA CASA DE BOLSA, S.A. DE C.V., es tratada con la debida confidencialidad y no será vendida o cedida a terceros.
                            </p>

                            <p>
                                En caso de realizarse alguna transferencia que requiera su consentimiento expreso, se le solicitará.
                            </p> <br>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 bmargin text-right">
                            <p class="text-end">Fecha de ultima actualización: Mayo 2025</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
