<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner back-img-PF-estrategias">
                    <div class="inner text-center">
                        <h3 class="text-white uppercase">Estrategias Selectivas</h3>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>
            
            <section>
                <div class="pagination-holder">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div class="pagination_links"><a th:href="@{/}">Inicio</a><i> / </i> Estrategias Selectivas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-sm-push-5 col-xs-6 col-xs-push-3"> <img th:src="@{public/images/iconos/logo-bursametrica-estrategias-selectivas.svg}" alt=""/> </div>
                        <div class="col-xs-12 text-left">
                            <h4 class="text-center">“Nuestro objetivo es ofrecer estrategias que agreguen valor<br/>
                                y protejan el patrimonio de nuestros clientes ajustándose a sus necesidades”</h4>
                            <br/>
                            <p>Creemos que cada estrategia modelo por si misma debe mantener sólidos fundamentos que ayuden a satisfacer situaciones específicas de cada cliente acorde al correspondiente perfil de inversión que determinamos junto a ellos.</p><br>
                            <p>Buscamos orientar las carteras para calibrar las oportunidades de inversión de forma que se obtenga el máximo potencial de inversión, acompañadas de la diversificación adecuada mediante la exposición a un universo de activos analizados a profundidad por nuestros especialistas y en todo momento cuidando la congruencia con perfiles y horizontes de inversión asociados a cada estrategia.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h4>Hemos desarrollado</h4>
                            <h3 class="uppercase">las siguientes <span class="text-colorBM">estrategias selectivas</span></h3>
                            <br/>
                            <br/>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="feature-box9 sec-bpadding-2">
                                <div class="iconbox-xlarge right"><img th:src="@{public/images/iconos/estrategias-selectivas-preservacion.svg}" alt=""/></div>
                                <div class="text-box-left">
                                    <h4 class="less-mar3">PRESERVACIÓN</h4>
                                    <p>Estrategias en valores e instrumentos que hacen énfasis en la generación de ingresos corrientes y moderado crecimiento de capital. Baja tolerancia al riesgo por parte del inversionista.</p>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="feature-box9 sec-bpadding-2">
                                <div class="iconbox-xlarge left"><img th:src="@{public/images/iconos/estrategias-selectivas-estabilidad.svg}" alt=""/></div>
                                <div class="text-box-right">
                                    <h4 class="less-mar3">ESTABILIDAD</h4>
                                    <p>Estrategias  en valores e instrumentos que hacen énfasis en un balance entre la generación de ingresos y crecimiento de capital acompañados  de una moderada  tolerancia al riesgo por el inversionista con horizontes de mediano plazo.</p>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="feature-box9 sec-bpadding-2">
                                <div class="iconbox-xlarge right"><img th:src="@{public/images/iconos/estrategias-selectivas-crecimiento.svg}" alt=""/></div>
                                <div class="text-box-left">
                                    <h4 class="less-mar3">CRECIMIENTO</h4>
                                    <p>Estrategias  en valores e instrumentos que hacen énfasis en un mayor crecimiento y apreciación de capital , así como mayor tolerancia al riesgo por el inversionista en horizontes de mediano y largo plazo.</p>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                        
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="feature-box9 sec-bpadding-2">
                                <div class="iconbox-xlarge left"><img th:src="@{public/images/iconos/estrategias-selectivas-avance.svg}" alt=""/></div>
                                <div class="text-box-right">
                                    <h4 class="less-mar3">AVANCE</h4>
                                    <p>Estrategias  en valores que hacen énfasis en valores con un mayor crecimiento y la máxima apreciación de capital posible. 
                                        Bajos requerimientos de liquidez  y la tolerancia al riesgo es alta asociada a horizontes de largo plazo.</p>
                                </div>
                            </div>
                        </div>
                        <!--end item-->

                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="feature-box9 sec-bpadding-2">
                                <div class="iconbox-xlarge right"><img th:src="@{public/images/iconos/estrategias-selectivas-dinamico.svg}" alt=""/></div>
                                <div class="text-box-left">
                                    <h4 class="less-mar3">DINÁMICO</h4>
                                    <p>Estrategia con énfasis en la máxima apreciación de capital posible para inversionistas con amplio conocimiento del mercado de renta variable y con posibilidad de soportar minusvalías. 
                                        Bajo requerimiento de liquidez y la tolerancia al riesgo es alta asociada a horizontes de largo plazo.</p>
                                </div>
                            </div>
                        </div>
                        <!--end item-->
                    </div>
                </div>
            </section>
            
            <!--end section-->
            <div class="clearfix"></div>
            <section class="sec-moreless-padding">
                <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <p class="text-center">Para mayor información de nuestros servicios de Estrategias Selectivas como una solución para sus necesidades, estamos para servirle.</p>
                    </div>
                </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding section-colorBM-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-border white-2 btn-large btn-round btn-send-email" href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto" data-origin="2">Contacto Estrategias Selectivas</a>
                        </div>
                    </div>
                </div>
            </section>
            <!--end section-->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: contact}"></div>
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
