<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preload stylesheet" as="style" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap">
    <link rel="stylesheet" href="../public/legacy/css/main.e30da093.chunk.css" >
    <link rel="stylesheet" href="../public/legacy/css/mui/muigrid01.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muigrid02.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/001.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/002.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/003.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muipaper01.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muiappbar01.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muitoolbar01.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muibuttonbase01.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muibutton01.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/004.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/005.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muidrawer01.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/006.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/007.css">
    <link rel="stylesheet" href="../public/legacy/css/mui/muidialog01.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/008.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/009.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/010.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/011.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/012.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/013.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/014.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/015.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/016.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/017.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/018.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/019.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/020.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/021.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/022.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/023.css">
    <link rel="stylesheet" href="../public/legacy/css/makestyle/024.css">
    <link rel="stylesheet" href="../public/legacy/css/common-footer.css">
  </head>
  <body>
    <div id="root">
        <div>
            <footer class="common-274 common-284">
                <div style="background-color: rgb(245, 245, 245);">
                    <div class="common-318">
                        <div class="common-286">
                            <div class="MuiGrid-root common-97  MuiGrid-container MuiGrid-justify-xs-center">
                                <div class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12">
                                    <ul class="common-321">
                                        <li>
                                            <div style="cursor: pointer;">
                                                <img th:src="@{/public/legacy/pages/common/BMV-logo.svg}" alt="" title="">
                                            </div>
                                        </li>
                                        <li>
                                            <div style="cursor: pointer;">
                                                <img th:src="@{/public/legacy/pages/common/CNBV-logo.svg}" alt="" title="">
                                            </div>
                                        </li>
                                        <li>
                                            <div style="cursor: pointer;">
                                                <img th:src="@{/public/legacy/pages/common/AMIB-logo.svg}" alt="" title="">
                                            </div>
                                        </li>
                                        <li>
                                            <div style="cursor: pointer;">
                                                <img th:src="@{/public/legacy/pages/common/condusef.png}" alt="" title="">
                                            </div>
                                        </li>
                                        <li>
                                            <div style="cursor: pointer;">
                                                <img th:src="@{/public/legacy/pages/common/biva.png}" alt="" title="">
                                            </div>
                                        </li>
                                        <li>
                                            <div style="cursor: pointer;">
                                                <img th:src="@{/public/legacy/pages/common/bm.png}" alt="" title="">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="common-279">
                    <div class="common-286">
                        <div class="MuiGrid-root common-97  MuiGrid-container MuiGrid-spacing-xs-4">
                            <div class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-3">
                                <div class="common-317">
                                    <div class="common-273">
                                        <img th:src="@{/public/legacy/pages/common/phone-alt-solid-white.svg}" alt="" title="">
                                    </div>
                                    <div class="common-320">
                                        <h4>LLÁMANOS</h4>
                                        <a href="tel:+52 55 1328 3936" target="_blank" rel="noopener noreferrer">
                                            <p class="common-277">
                                                <span>
                                                    +52 55 1328 3936 <br>
                                                    De 9:00 a 17:30 hrs.
                                                </span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4">
                                <div class="common-317">
                                    <div class="common-273">
                                        <img th:src="@{/public/legacy/pages/common/map-marker-alt-solid-white.svg}" alt="" title="">
                                    </div>
                                    <div class="common-320">
                                        <h4>VISÍTANOS</h4>
                                        <a href="https://goo.gl/maps/b86yUzmt5Pte46b1A" target="_blank" rel="noopener noreferrer">
                                            <p class="common-277">
                                                <span>
                                                    Insurgentes Sur No.1605, Piso 17,  <br>
                                                    Col. San José Insurgentes, Alcaldía <br>
                                                    Benito Juárez, C.P. 03900, CDMX.
                                                </span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-5">
                                <div class="common-317">
                                    <div class="common-273">
                                        <img th:src="@{/public/legacy/pages/common/envelope-solid-white.svg}" alt="" title="">
                                    </div>
                                    <div class="common-320">
                                        <h4>CONTÁCTANOS</h4>
                                        <a href="mailto:" target="_blank" rel="noopener noreferrer">
                                            <p class="common-277">
                                                <span>servicioaclientes@bcbcasadebolsa.com</span>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="common-286">
                    <div>
                        <div class="common-282">
                            <div class="common-274">
                                <div class="MuiGrid-root common-97  MuiGrid-container MuiGrid-justify-xs-center">
                                    <div class="MuiGrid-root common-101 common-316 MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3">
                                        <img th:src="@{/public/legacy/pages/common/BCB-logo-white.svg}" alt="" style="margin-top: 20px; height: 50px; max-width: 100%;">
                                    </div>
                                    <div
                                        class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3">
                                        <h4>LINKS DE INTÉRES</h4>
                                        <ul class="common-275">
                                            <li>
                                                <a th:href="@{/buro-de-entidades-financieras}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    BURÓ DE ENTIDADES FINANCIERAS
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/mapa-del-sitio}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    MAPA DEL SITIO
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/economia-y-mercados}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    NOTICIAS
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/une}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    UNE
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3">
                                        <ul class="common-275">
                                            <li>
                                                <a th:href="@{/estados-financieros}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    ESTADOS FINANCIEROS
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/administracion-de-riesgos}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    ADMINISTRACIÓN DE RIESGOS
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/remuneraciones}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    REMUNERACIONES
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/servicios-de-inversion}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    SERVICIOS DE INVERSIÓN
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/aviso-de-privacidad}" class="common-276"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    AVISO DE PRIVACIDAD
                                                </a>
                                            </li>
                                            <li>
                                                <a th:href="@{/organos-de-control}" class="common-276">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" class="svg-inline--fa fa-chevron-right fa-w-10 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                                                        </path>
                                                    </svg>
                                                    ÓRGANOS DE CONTROL
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
    
                                    <div class="MuiGrid-root common-101 undefined MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-sm-12 MuiGrid-grid-md-3 MuiGrid-grid-lg-3">
                                        <h4>¿ERES CLIENTE?</h4>
                                        <ul class="common-275">
                                            <li class="common-278">
                                                <p class="common-277">
                                                    <span>
                                                        Insurgentes Sur No.1605, Piso 17, Col. San José
                                                        Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.
                                                    </span>
                                                </p>
                                            </li>
                                            <li class="common-278">
                                                <img th:src="@{/public/legacy/pages/common/phone-alt-solid-gray.svg}" alt="" title="">
                                                <p class="common-277">
                                                    <span>+52 55 1328 3936</span>
                                                </p>
                                            </li>
                                            <li class="common-278">
                                                <img th:src="@{/public/legacy/pages/common/fax-solid-gray.svg}" alt="" title="">
                                                <p class="common-277">
                                                    <span>Conmutador: +52 55 1328 3930</span>
                                                </p>
                                            </li>
                                            <li class="common-278">
                                                <img th:src="@{/public/legacy/pages/common/envelope-solid-gray.svg}" alt="" title="">
                                                <p class="common-277">
                                                    <span>servicioaclientes@bcbcasadebolsa.com</span>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="common-306"></div>
                </div>
    
                <div class="common-280">
                    <small>
                        Copyright © 2025 | Bursamétrica Casa de Bolsa S.A. de C.V.* se encuentra en
                        trámite de autorización por parte de las autoridades competentes para cambiar su denominación
                        social a BCB Casa de Bolsa S.A. de C.V.
                    </small>
                </div>
            </footer>
        </div>
    </div>
  </body>
</html>
