<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta name="google-site-verification" content="">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" th:href="@{/public/legacy/css/legacy-svg.css}">
        <link rel="icon" th:href="@{/public/legacy/pages/common/favicon.ico}">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon.png">
        <link rel="preload stylesheet" as="style" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap">
        <base href="/">
        <title>Bursamétrica</title>
        <link rel="stylesheet" th:href="@{/public/legacy/css/main.e30da093.chunk.css}" >
        <style data-emotion=""></style>
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muigrid01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/001.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/025.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muipaper01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muiappbar01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muitoolbar01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muibuttonbase01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muibutton01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/004.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muidrawer01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/mui/muipopover01.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/026.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/027.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/006.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/028.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/029.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/030.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/031.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/032.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/033.css}">
        <link rel="stylesheet" th:href="@{/public/legacy/css/makestyle/024.css}">    
    </head>
    <body>
        <div id="root">
            <div>
                <div class="jss10"></div>
                <div th:replace="~{fragments/commons :: header}"></div>
                <!-- Content -->
                <div class="MuiGrid-root jss97 false MuiGrid-container">
                    <div id="theHeaderTop"></div>
                    <div class="MuiGrid-root jss98 undefined MuiGrid-item MuiGrid-grid-xs-12">
                        <div
                            class="MuiGrid-root jss97 jss2 jss6 MuiGrid-container MuiGrid-spacing-xs-4 MuiGrid-justify-xs-center">
                            <div></div>
                            <div class="MuiGrid-root jss98 undefined MuiGrid-item MuiGrid-grid-sm-12 MuiGrid-grid-md-7">
                                <div class="jss145 jss146 jss147 jss149 jss121">
                                    <form class="login-form" th:action="@{/login}" method="post">
                                        <div class="MuiGrid-root jss97  MuiGrid-container MuiGrid-spacing-xs-3">
                                            <div class="MuiGrid-root jss98 undefined MuiGrid-item MuiGrid-grid-xs-12">
                                                <h4 class="jss122">INICIAR SESIÓN</h4>
                                            </div>
                                            
                                            <div class="MuiGrid-root jss98 jss99 MuiGrid-item MuiGrid-grid-xs-12">
                                                <label class="jss124">Número de Cliente</label>
                                                <label class="jss126">
                                                    <input type="text" id="username" name="username" placeholder="Ej. 1000000" required autofocus />
                                                    <span>
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file" class="svg-inline--fa fa-file fa-w-12 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                            <path fill="currentColor" d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm160-14.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </label>
                                            </div>
                                            
                                            <div class="MuiGrid-root jss98 jss99 MuiGrid-item MuiGrid-grid-xs-12">
                                                <label class="jss124"> Contraseña </label>
                                                <label class="jss126">
                                                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                                                    <span>
                                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="lock" class="svg-inline--fa fa-lock fa-w-14 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                                            <path fill="currentColor" d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </label>
                                            </div>

                                            <div class="MuiGrid-root jss98 undefined MuiGrid-item MuiGrid-grid-xs-12">
                                                <button type="submit" class="MuiButtonBase-root MuiButton-root jss48 jss52 MuiButton-text" tabindex="0">
                                                    <span class="MuiButton-label">INGRESAR</span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="MuiGrid-root jss98 undefined MuiGrid-item MuiGrid-grid-xs-12">
                                <p class="jss162 jss172">
                                    <span>
                                        <strong>
                                            Le recomendamos que para la consulta de su estado
                                            de cuenta y utilizar los servicios de en línea de la Casa de Bolsa, no lo haga a
                                            través de redes públicas, es mejor esperar y ocupar una red segura y privada.
                                        </strong>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
                <div th:replace="~{fragments/commons :: footer}"></div>
            </div>
        </div>
        <script th:src="@{/public/legacy/pages/common/js/2.cb4f8522.chunk.js}"></script>
        <script th:src="@{/public/legacy/pages/common/js/main.c099087b.chunk.js}"></script>
    </body>
</html>
