<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2">
                                <img th:src="@{/public/img/logo-gestion-inversiones-a.svg}" alt="BCB LOGO" 
                                class="brand-image opacity-100 shadow" style="width: 70%; height: 70%;" />
                            </div>
                            <div class="col-10">
                                <h4>Bienvenido <span th:text="${customerFullName}"></span> </h4>
                                <h3></h3>
                                <hr>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-4">
                                            <h5>Inicio de Sesión Actual</h5>
                                            <span th:text="${currentSessionDateStr}"></span> | <span th:text="${currentSessionTimeStr}"></span>
                                        </div>
                                        <div class="col-8">
                                            <h5>Último Inicio de Sesión</h5>
                                            <span th:text="${lastSessionDateStr}"></span> | <span th:text="${lastSessionTimeStr}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-outline card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title"><strong>RESUMEN DE SU SALDO</strong></h3>
                                    </div>
                                    <div class="card-body row">
                                        <div class="col-3">
                                            <canvas id="myChart">
                                            </canvas>
                                        </div>

                                        <div class="col-9 table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width: 20%;">MERCADO</th>
                                                        <th class="text-end">MONTO</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 20%;">
                                                            <strong>MERCADO DE DINERO</strong>
                                                        </td>
                                                        <td class="text-end" style="width: 20%;">
                                                            <span th:unless="${totalBalanceMoneyMarket == null}" th:text="${#numbers.formatCurrency(totalBalanceMoneyMarket)}"></span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 20%;">
                                                            <strong>MERCADO DE CAPITALES</strong>
                                                        </td>
                                                        <td class="text-end" style="width: 20%;">
                                                            <span th:unless="${totalBalanceStockMarket == null}" th:text="${#numbers.formatCurrency(totalBalanceStockMarket)}"></span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr hidden>
                                                        <td style="width: 20%;">
                                                            <strong>FONDOS DE INVERSIÓN</strong>
                                                        </td>
                                                        <td class="text-end" style="width: 20%;">
                                                            <span th:text="${positionDetail} != null AND ${positionDetail.subtotalFon} != null ? ${positionDetail.subtotalFon} : '0'"></span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 20%;">
                                                            <strong>SALDO MN</strong>
                                                        </td>
                                                        <td class="text-end" style="width: 20%;">
                                                            <span th:unless="${totalBalanceMN == null}" th:text="${#numbers.formatCurrency(totalBalanceMN)}"></span>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 20%;">
                                                            <strong>TOTAL INVERSIÓN</strong>
                                                        </td>
                                                        <td class="text-end" style="width: 20%;">
                                                            <strong><span th:text="${#numbers.formatCurrency(totalBalanceMoneyMarket + totalBalanceStockMarket + totalBalanceMN)}"></span></strong>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>

        <script th:inline="javascript">
            let totalBalanceMN = [[${totalBalanceMN}]];
            let totalBalanceMoneyMarket = [[${totalBalanceMoneyMarket}]];
            let totalBalanceStockMarket = [[${totalBalanceStockMarket}]];

            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'pie',
                data: {
                labels: ['Mercado de Dinero', 'Mercado de Capitales', 'Saldo MN'],
                datasets: [{
                    label: 'Monto MN',
                    data: [totalBalanceMoneyMarket, totalBalanceStockMarket, totalBalanceMN],
                    borderWidth: 1
                }]
                },
                options: {
                scales: {
                    y: {
                    beginAtZero: true
                    }
                }
                }
            });
        </script>
    </body>
</html>
