<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary sidebar-collapse">

        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <section>
                    <div class="header-inner">
                        <div class="inner text-center">
                            <h3 class="text-white uppercase"><strong>INFORMACIÓN DEL CLIENTE</strong></h3>
                        </div>
                        <div class="overlay bg-opacity-5"></div>
                    </div>
                </section>
                <!-- end section -->
                 <br>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="table-responsive">
                                    <table class="table table-xl table-hover">
                                        <tbody>
                                            <tr>
                                                <td><strong>NOMBRE</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.customerFullName}"></span></td>
                                            </tr>
                                            
                                            <tr>
                                                <td><strong>BENEFICIARIOS</strong></td>
                                                <td>
                                                    <div th:unless="${beneficiaryList == null}">
                                                        <ul>
                                                            <li th:each="beneficiary : ${beneficiaryList}" th:text="${beneficiary.fullName}"></li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><strong>EMAIL</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.email}"></span></td>
                                            </tr>

                                            <tr>
                                                <td><strong>DIRECCIÓN</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.fullAddress}"></span></td>
                                            </tr>

                                            <tr>
                                                <td><strong>TELEFONOS CONTACTO</strong></td>
                                                <td>
                                                    <ul>
                                                        <li>Teléfono Domicilio: <span th:unless="${customer == null}" th:text="${customer.homePhoneNumber}"></span></li>
                                                        <li>Teléfono Oficina: <span th:unless="${customer == null}" th:text="${customer.workPhoneNumber}"></span></li>
                                                        <li>Teléfono Móvil: <span th:unless="${customer == null}" th:text="${customer.phoneNumber}"></span></li>
                                                    </ul>
                                                    
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><strong>CUENTAS BANCARIAS</strong></td>
                                                <td>
                                                    <div th:unless="${bankAccountList == null}">
                                                        <ul>
                                                            <li th:each="bankAccount : ${bankAccountList}">
                                                                [[${bankAccount.accountNumber}]] - [[${bankAccount.institutionName}]]
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><strong>RFC</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.rfc}"></span></td>
                                            </tr>

                                            <tr>
                                                <td><strong>CURP</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.curp}"></span></td>
                                            </tr>

                                            <tr>
                                                <td><strong>TIPO DE SERVICIO</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.getServiceAsString()}"></span></td>
                                            </tr>

                                            <tr>
                                                <td><strong>PERFIL DE INVERSIÓN</strong></td>
                                                <td><span th:unless="${customer == null}" th:text="${customer.profile}"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </main>
            
            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>
    </body>
</html>