<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <section>
                    <div class="header-inner">
                        <div class="inner text-center">
                            <h3 class="text-white uppercase"><strong>MOVIMIENTOS CONSULTA</strong></h3>
                        </div>
                        <div class="overlay bg-opacity-5"></div>
                    </div>
                </section>
                <!-- end section -->

                <div class="app-content">
                    <div class="container-fluid">
                        <br>
                        <form th:action="@{/portal-clientes/movimientos}" method="post" enctype="application/x-www-form-urlencoded">
                            <div class="row">
                                <div class="col-3">
                                    <label for="startDate" class="form-label"><strong>Fecha Inicial</strong></label>
                                    <input type="date" id="startDate" th:name="startDate" th:value="${startDate}" th:max="${today}" data-date-format="dd/mm/yyyy" class="form-control" required>
                                </div>

                                <div class="col-3">
                                    <label for="endDate" class="form-label"><strong>Fecha Final</strong></label>
                                    <input type="date" id="endDate" th:name="endDate" th:value="${endDate}" th:max="${today}" data-date-format="dd/mm/yyyy" class="form-control" required>
                                </div>
                            </div>
                            <br>

                            <div class="text-center">
                                <button class="btn btn-sm btn-primary" type="submit">
                                    <i class="fa fa-search"></i> Consultar
                                </button>
                            </div>
                        </form>
                        <hr />

                        <div th:if="${movementReportList != null}" class="table-responsive card">
                            <div th:if="${movementReportList.size() > 0}">
                                <div class="card-header">
                                    <h5 class="card-title text-center"> 
                                        Movimientos del <strong><span th:text="${startDate}"></span></strong> al <strong><span th:text="${endDate}"></span></strong>
                                    </h5>

                                    <div class="card-tools">
                                        <a class="btn btn-sm btn-primary" th:href="@{/portal-clientes/movimientos/descargar-reporte(fechaInicio=${startDate},fechaTermino=${endDate})}">
                                            <i class="fa fa-file-pdf"></i> Exportar
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th><strong>F. OPE</strong></th>
                                                <th><strong>F. LIQ</strong></th>
                                                <th><strong>CONCEPTO</strong></th>
                                                <th><strong>EMISORA - SERIE</strong></th>
                                                <th class="text-end"><strong>PLAZO</strong></th>
                                                <th class="text-end"><strong>TASA</strong></th>
                                                <th class="text-end"><strong>PRECIO</strong></th>
                                                <th class="text-end"><strong>TÍTULOS</strong></th>
                                                <th class="text-end"><strong>IMPORTE BRUTO</strong></th>
                                                <th class="text-end"><strong>COMISIÓN</strong></th>
                                                <th class="text-end"><strong>IVA</strong></th>
                                                <th class="text-end"><strong>ISR</strong></th>
                                                <th class="text-end"><strong>IMPORTE NETO</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="movement : ${movementReportList}">
                                                <td th:text="${movement.operationDate}"></td>
                                                <td th:text="${movement.saleDate}"></td>
                                                <td th:text="${movement.concept}"></td>
                                                <td>
                                                    <span th:text="${movement.emmiter}"></span>
                                                    <span th:text="${movement.serie}"></span>
                                                </td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.period, 1, 0)}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.rate, 1, 2)}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.price, 1, 'COMMA', 6, 'POINT')}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.securities, 1, 'COMMA', 0, 'POINT')}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.savageAmount, 1, 'COMMA', 2, 'POINT')}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.commision, 1, 'COMMA', 2, 'POINT')}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.iva, 1, 'COMMA', 2, 'POINT')}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.isr, 1, 'COMMA', 2, 'POINT')}"></td>
                                                <td class="text-end" th:text="${#numbers.formatDecimal(movement.amount, 1, 'COMMA', 2, 'POINT')}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:unless="${movementReportList.size() > 0}" class="text-center">
                                <h3>NO SE ENCONTRARON MOVIMIENTOS</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </main>

            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>
    </body>
</html>