<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <section>
                    <div class="header-inner">
                        <div class="inner text-center">
                            <h3 class="text-white uppercase"><strong>ESTADOS DE CUENTA</strong></h3>
                        </div>
                        <div class="overlay bg-opacity-5"></div>
                    </div>
                </section>
                <!-- end section -->
                 <br>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="col-12">
                            <h5><strong>Nota:</strong> Los estados de cuenta se generan durante los primeros 5 días hábiles de cada mes</h5>
                            <hr>
                            <ul class="nav nav-tabs mb-3" id="statementsTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="current-tab" data-bs-toggle="tab" data-bs-target="#current-tab-pane" 
                                    type="button" role="tab" aria-controls="current-tab-pane" aria-selected="true" tabindex="0">
                                        <strong>ACTUAL</strong>
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="previous-statements-tab" data-bs-toggle="tab" data-bs-target="#previous-statements-tab-pane" 
                                    type="button" role="tab" aria-controls="previous-statements-tab-pane" aria-selected="false" tabindex="-1">
                                        <strong>12 MESES ANTERIORES</strong>
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="current-tab-pane" role="tabpanel" aria-labelledby="current-tab" tabindex="0">
                                    <div class="text-right">
                                        
                                    </div>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>PDF</th>
                                                    <th>XML</th>
                                                    <th>PERIODO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <div th:if="${currentStatementAccount == null}">
                                                        <th colspan="3">
                                                            <h5>
                                                                No disponible, contacte a su asesor.
                                                            </h5>
                                                        </th>
                                                    </div>
                                                    <div th:unless="${currentStatementAccount == null}">
                                                        <td>
                                                            <a th:href="@{/portal-clientes/estados-cuenta/consultar/1?tipo=1}" class="btn btn-primary">
                                                                Consulta <i class="fa fa-search"></i>
                                                            </a>
                                                            <a th:href="@{/portal-clientes/estados-cuenta/descargar/1?tipo=1}" class="btn btn-success">
                                                                Descarga <i class="fa fa-download"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a th:href="@{/portal-clientes/estados-cuenta/descargar/1?tipo=2}" class="btn btn-success">
                                                                Descarga <i class="fa fa-download"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <h5>
                                                                <span th:text="${currentStatementAccount != null ? currentStatementAccount.getMesAsString() + ' ' + currentStatementAccount.anio : 'No disponible, contacte a su asesor'}"></span>
                                                            </h5>
                                                        </td>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="previous-statements-tab-pane" role="tabpanel" aria-labelledby="previous-statements-tab" tabindex="-1">
                                    <div class="text-right">
                                        
                                    </div>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table table-sm table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;">#</th>
                                                    <th style="width: 30%;">PDF</th>
                                                    <th style="width: 30%;">XML</th>
                                                    <th style="width: 30%;">PERIODO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="statementAccount, i : ${statementAccountList}">
                                                    <td>[[${i.count}]]</td>
                                                    <div th:if="${statementAccount == null}">
                                                        <th colspan="3">
                                                            <h5>
                                                                No disponible, contacte a su asesor
                                                            </h5>
                                                        </th>
                                                    </div>
                                                    <div th:unless="${statementAccount == null}">
                                                        <td>
                                                            <a th:href="@{/portal-clientes/estados-cuenta/consultar/{document}(document=${i.count+1},tipo=1)}" class="btn btn-primary">
                                                                Consultar <i class="fa fa-search"></i>
                                                            </a>
                                                            <a th:href="@{/portal-clientes/estados-cuenta/descargar/{document}(document=${i.count+1},tipo=1)}" class="btn btn-success">
                                                                Descargar <i class="fa fa-download"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a th:href="@{/portal-clientes/estados-cuenta/descargar/{document}(document=${i.count+1},tipo=2)}" class="btn btn-success">
                                                                Descargar <i class="fa fa-download"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-left">
                                                            <h5>
                                                                <span th:text="${statementAccount != null ? statementAccount.getMesAsString() + ' ' + statementAccount.anio : 'No disponible, contacte a su asesor'}"></span>
                                                            </h5>
                                                        </td>
                                                    </div>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>
    </body>
</html>
