<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <div class="app-content-header">
                    <div class="container-fluid">
                    </div>
                </div>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h5 class="card-title text-primary">
                                        <strong>Consulta Constancia Fiscal</strong>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                        <!--
                                            <iframe th:src="@{/portal-clientes/constancia-fiscal/ver-pdf/} + ${customerTaxCertificateId}" frameborder="1" width="100%" height="800">
                                            </iframe>
                                        -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>
    </body>
</html>