<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <section>
                    <div class="header-inner">
                        <div class="inner text-center">
                            <h3 class="text-white uppercase"><strong>CONSTANCIAS FISCALES</strong></h3>
                        </div>
                        <div class="overlay bg-opacity-5"></div>
                    </div>
                </section>
                <!-- end section -->
                 <br>

                <div class="app-content">
                    <div class="container-fluid">
                        <div th:if="${yearSet.size() == 0}">
                            <h3>Usted aun no posee aún Constancias Fiscales</h3>
                        </div>
                        <div th:unless="${yearSet.size() == 0}">
                            <form th:action="@{/portal-clientes/constancia-fiscal}" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="row">
                                    <div class="col-3">
                                        <label for="year" class="form-label"><strong>Año</strong></label>
                                        <select name="year" id="year" class="form-select">
                                            <option value="0" selected disabled>Seleccione Opción</option>
                                            <option th:each="year : ${yearSet}" th:value="${year}" th:text="${year}"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <br />
                            <div th:if="${taxCertificatesList.size() > 0}">
                                <table class="table table-condensed table-striped table-bordered" id="taxCertificatesTable">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">TIPO CONSTANCIA</th>
                                            <th style="width: 25%;">PROPIETARIO</th>
                                            <th style="width: 25%;" class="text-center" colspan="2">PDF</th>
                                            <th style="width: 25%;" class="text-center">XML</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div th:unless="${taxCertificatesList.size() > 0}" class="text-center">
                                <h5 class="text-primary">No se encontraron constancias fiscales</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>
        <script th:inline="javascript">
            $(document).ready(function() {
                let taxCertificatesJson = JSON.parse([[${taxCertificatesJson}]]);
                let taxCertificatesArray = ["Factura", "Dividendos 2014", "Dividendos 2013", "Dividendos SIC", "Derivados", "Enajenación", "Fibras", "Intereses"];
                let commonUrl = "/portal-clientes/constancia-fiscal/";
                
                $("#year").on("change", function() {
                    let year = $(this).val();

                    $("#taxCertificatesTable").find("tbody").empty();
                    let ownership, text;
                    $.each(taxCertificatesJson, function(index, element) {
                        if(year == element.Periodo) {
                            text = element.Cotitular === "0" ? "Titular" : "CoTitular";

                            let tr = $("<tr>");
                            let tdOwner = $("<td>", {"text" : text});
                            let tdPeriodo = $("<td>", { "text": element.Periodo + " - " + taxCertificatesArray[element.Tipo] });
                            let tdPdfView = $("<td>", {"class": "text-center"});
                            let tdPdfDownload = $("<td>", {"class": "text-center"});
                            let tdXml = $("<td>", {"class": "text-center"});
                            
                            let searchPdfUrl = commonUrl + "consultar?year=" + year + "&type=" + element.Tipo + "&owner=" + element.Cotitular;
                            let buttonSearchPdf = $("<a>", {"class": "btn btn-primary", "href": searchPdfUrl, "target": "_blank", "text": "Consulta "});
                            
                            let downloadPdfUrl = commonUrl + "descargar?year=" + year + "&type=" + element.Tipo + "&owner=" + element.Cotitular + "&fileType=1";
                            let buttonDownloadPdf = $("<a>", {"class": "btn btn-success", "href": downloadPdfUrl, "text": "Descarga "});
                            let iSearchPdf = $("<i>", {"class": "fa fa-search"});
                            let iDownloadPdf = $("<i>", {"class": "fa fa-download"});
                            buttonSearchPdf.append(iSearchPdf);
                            buttonDownloadPdf.append(iDownloadPdf);

                            let downloadXmlUrl = commonUrl + "descargar?year=" + year + "&type=" + element.Tipo + "&owner=" + element.Cotitular + "&fileType=2";
                            let buttonDownloadXml = $("<a>", {"class": "btn btn-success", "href": downloadXmlUrl, "text": "Descarga "});
                            let iDownloadXml = $("<i>", {"class": "fa fa-download"});
                            buttonDownloadXml.append(iDownloadXml);
                            
                            tdPdfView.append(buttonSearchPdf);
                            tdPdfDownload.append(buttonDownloadPdf);
                            tdXml.append(buttonDownloadXml);

                            tr.append(tdPeriodo)
                                .append(tdOwner)
                                .append(tdPdfView)
                                .append(tdPdfDownload)
                                .append(tdXml);
                            
                            $("#taxCertificatesTable").find("tbody").append(tr);
                            text = "";
                        }
                    });
                });
            });
        </script>
    </body>
</html>