<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="~{customer/fragments/common :: head}"></head>

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
        <div class="app-wrapper">
            <nav th:replace="~{customer/fragments/common :: nav}"></nav>

            <aside th:replace="~{customer/fragments/common :: aside}"></aside>

            <main class="app-main">
                <section>
                    <div class="header-inner">
                        <div class="inner text-center">
                            <h3 class="text-white uppercase"><strong>CONSTANCIAS FISCALES CONSULTA</strong></h3>
                        </div>
                        <div class="overlay bg-opacity-5"></div>
                    </div>
                </section>
                <!-- end section -->
                 <br>

                <div class="app-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-center">
                                <iframe th:src="@{/portal-clientes/constancia-fiscal/ver-pdf/} + ${customerTaxCertificateId}" frameborder="1" width="100%" height="800">
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer th:replace="~{customer/fragments/common :: footer}"></footer>
        </div>

        <div th:replace="~{customer/fragments/common :: jsDependencies}"></div>
    </body>
</html>