<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{login/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{login/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner">
                    <div class="inner text-center">
                        <h3 class="text-white uppercase"><strong>LINK + TOKEN ENVIADO</strong></h3>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Se ha enviado link de acceso a la cuenta de correo electrónico asociada al número de contrato proporcionado</h4>
                            <p class="text-center">
                                <a th:href="@{/}" class="btn btn-blue">Regresar a la Página Principal</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section th:replace="~{login/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{login/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{login/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{login/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div class="contacto-pop colorBM"><a href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto"><i class="fa fa-envelope"></i> Contáctanos</a></div>
            <a href="#" class="scrollup colorBM"></a><!-- end scroll to top of the page--> 
        </div>

        <div th:replace="~{login/fragments/commons :: modals}"></div>
        
        <div th:replace="~{login/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
