<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{public/fragments/commons :: head}"></head>
    <body>
        <div class="site_wrapper">
            <div th:replace="~{public/fragments/commons :: header}"></div>
            <div class="clearfix"></div>

            <section>
                <div class="header-inner">
                    <div class="inner text-center">
                        <h3 class="text-white uppercase"><strong>SOLICITAR REESTABLECIMIENTO DE CONTRASEÑA</strong></h3>
                    </div>
                    <div class="overlay bg-opacity-5"></div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section class="sec-moreless-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <form th:action="@{/recuperar-password}" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="row g-3 align-items-center">
                                    <div class="col-3 col-auto">
                                        <label class="col-form-label">Número de Contrato</label>
                                    </div>
                                    <div class="col-9 col-auto">
                                        <input type="text" id="contractNumber" name="contractNumber" class="form-control" required autofocus />
                                    </div>
                                </div>
                                <br><br>

                                <div class="row g-3">
                                    <div class="col-12 text-center">
                                        <button class="btn btn-blue" type="submit" role="button">
                                            Solicitar Reestablecimiento de Contraseña
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <br><br><br><br>
                        </div>
                    </div>
                    
                    <div class="row">
                        <p th:text="${mensaje}"></p>
                        <p th:text="${error}"></p>
                    </div>
                </div>
            </section>
            <!-- end section -->
            <div class="clearfix"></div>

            <section th:replace="~{public/fragments/commons :: section-organizations}"></section>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-contact}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div th:replace="~{public/fragments/commons :: section-navigation}"></div>
            <!--end section -->
            <div class="clearfix"></div>
            
            
            <div th:replace="~{public/fragments/commons :: section-credits}"></div>
            <!--end section -->
            <div class="clearfix"></div>

            <div class="contacto-pop colorBM"><a href="#" data-toggle="modal" data-target="#MainMenu-BM-contacto"><i class="fa fa-envelope"></i> Contáctanos</a></div>
            <a href="#" class="scrollup colorBM"></a><!-- end scroll to top of the page--> 
        </div>

        <div th:replace="~{public/fragments/commons :: modals}"></div>
        
        <div th:replace="~{public/fragments/commons :: js-dependencies}"></div>
    </body>
</html>
