<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>BCB Casa de Bolsa</title>
        <link rel="shortcut icon" th:href="@{/public/img/favicon.ico}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{public/js/bootstrap/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{public/css/login.css}" />
        <link rel="stylesheet" th:href="@{public/css/default.css}" />
        <link rel="stylesheet" th:href="@{public/css/shortcodes.css}" />
        <link rel="stylesheet" th:href="@{public/font-awesome/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{public/css/responsive-layouts.css}" media="screen" />
        <link rel="stylesheet" th:href="@{public/js/animations/css/animations.min.css}" media="all" />
        <link rel="stylesheet" th:href="@{public/css/Simple-Line-Icons-Webfont/simple-line-icons.css}" media="screen" />
        <link rel="stylesheet" th:href="@{public/css/et-line-font/et-line-font.css}" media="all" />
        <link rel="stylesheet" th:href="@{public/js/tabs/assets/css/responsive-tabs.css}" />
        <link rel="stylesheet" th:href="@{public/js/owl-carousel/owl.carousel.css}" />
        <link rel="stylesheet" th:href="@{public/js/smart-forms/smart-forms.css}" type="text/css" />
    </head>
    
    <body>
        <div th:fragment="header" id="header" class="topbar dark topbar-padding">
            <div class="container">
                <a th:href="@{/}" class="logo two toppadd">
                    <img th:src="@{public/images/logo/BCB-logo-white.svg}" alt="Logo Bursamétrica"/>
                </a>
                <ul class="toplist toppadding">
                    <li>
                        <a class="topbar-btn btn-dark" th:href="@{/inicio-de-sesion}">
                            Acceso a clientes
                        </a>
                    </li>
                    <li>
                        <a class="topbar-btn" href="#" data-toggle="modal" data-target="#MainMenu-BM-buscar">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li>
                        <a class="topbar-btn" href="#" data-toggle="modal" data-target="#MainMenu-BM">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Slider -->
        <div th:fragment="slider" id="slider-home" class="slider-home">
            <div class="container">
                <div class="row">
                    <div class="logo-slider"><img src="public/images/logo/BCB-logo-white.svg" alt="Logo Bursamétrica"/></div>
                    <h1 class="slider-title01 text-white">La tranquilidad</h1>
                    <h1 class="slider-title02 text-white">de invertir</h1>
                    <a class="btn btn-colorBM-2 dark btn-round btn-slider" th:href="@{/productos-servicios}">Más información</a>
                </div>
            </div>
        </div>

        <section th:fragment="section-organizations" class="section-light section-less-padding clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="Reguladores-logo-list">
                            <li>
                                <a class="external-link" href="#" data-toggle="modal" data-target="#MainMenu-BM-salir" data-link="https://www.bmv.com.mx/">
                                    <img src="public/images/reguladores/BMV-logo.svg" alt=""/></a>
                                </li>
                            <li>
                                <a class="external-link" href="#" data-toggle="modal" data-target="#MainMenu-BM-salir" data-link="https://www.gob.mx/cnbv">
                                    <img src="public/images/reguladores/CNBV-logo.svg" alt=""/></a>
                                </li>
                            <li>
                                <a class="external-link" href="#" data-toggle="modal" data-target="#MainMenu-BM-salir" data-link="http://www.amib.com.mx/">
                                    <img src="public/images/reguladores/AMIB-logo.svg" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" href="#" data-toggle="modal" data-target="#MainMenu-BM-salir" data-link="https://www.gob.mx/condusef">
                                    <img src="public/images/reguladores/CONDUSEF-logo.png" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" href="#" data-toggle="modal" data-target="#MainMenu-BM-salir" data-link="https://www.biva.mx/">
                                    <img src="public/images/reguladores/BIVA-logo.png" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a class="external-link" href="#" data-toggle="modal" data-target="#MainMenu-BM-salir" data-link="https://www.banxico.org.mx/">
                                    <img src="public/images/reguladores/Banxico-logo.png" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--end section -->
        <div class="clearfix"></div>

        <div th:fragment="section-contact" class="section section-dark two section-less-padding">
            <div class="container">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="iconbox-smedium round left grayoutline">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="text-box-right more-padding-1">
                        <h4 class="text-white less-mar1 paddtop1">LLÁMANOS</h4>
                        <a href="tel:+52 55 1328 3936" target="_blank" rel="noopener noreferrer">
                            <span>+52 55 1328 3936</span><br/>
                            <span>De 9:00 a 17:30 hrs.</span>
                        </a>
                    </div>
                </div>
                <!--end item-->
                
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="iconbox-smedium round left grayoutline">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="text-box-right more-padding-1">
                        <h4 class="text-white less-mar1 paddtop1">VISÍTANOS</h4>
                        <a href="https://goo.gl/maps/b86yUzmt5Pte46b1A" target="_blank" rel="noopener noreferrer">
                            <span>
                                Insurgentes Sur No.1605, Piso 17, <br>
                                Col. San José Insurgentes, Alcaldía <br>
                                Benito Juárez, C.P. 03900, CDMX.
                            </span>
                        </a>
                    </div>
                </div>
                <!--end item-->
                
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="iconbox-smedium round left grayoutline">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="text-box-right more-padding-1">
                        <h4 class="text-white less-mar1 paddtop1">CONTÁCTANOS</h4>
                        <span><a href="mailto:servicioaclientes@bcbcasadebolsa.com.com">servicioaclientes@bcbcasadebolsa.com</a></span>
                    </div>
                </div>
                <!--end item--> 
            </div>
        </div>
        <!--end section -->

        <section th:fragment="section-navigation" class="section-dark sec-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 clearfix">
                        <img th:src="@{public/images/logo/BCB-logo-white.svg}" alt="Logo Bursamétrica"/>
                        <a href="#" class="logo two sec-bpadding-1">
                        </a>
                    </div>
                    <!--end item-->
                    
                    <div class="col-md-3 clearfix">
                        <h4 class="uppercase footer-title less-mar3">
                            LINKS DE INTERÉS
                        </h4>
                        <div class="clearfix"></div>
                        <div class="footer-title-bottomstrip"></div>
                        <ul class="usefull-links">
                            <li>
                                <a th:href="@{/buro-de-entidades-financieras}">
                                    <i class="fa fa-angle-right"></i> BURÓ DE ENTIDADES FINANCIERAS
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/mapa-del-sitio}">
                                    <i class="fa fa-angle-right"></i> MAPA DEL SITIO
                                </a>
                            </li>
                            <li class="hidden" hidden>
                                <a th:href="@{/economia-y-mercados}">
                                    <i class="fa fa-angle-right"></i> NOTICIAS
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/une}">
                                    <i class="fa fa-angle-right"></i> UNE
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end item-->
                    
                    <div class="col-md-3 clearfix">
                        <ul class="usefull-links">
                            <li><a th:href="@{/estados-financieros}"><i class="fa fa-angle-right"></i> Estados Financieros</a></li>
                            <li><a th:href="@{/administracion-de-riesgos}"><i class="fa fa-angle-right"></i> Administración de Riesgos</a></li>
                            <li><a th:href="@{/remuneraciones}"><i class="fa fa-angle-right"></i> Remuneraciones</a></li>
                            <li><a th:href="@{/servicios-de-inversion}"><i class="fa fa-angle-right"></i> Servicios de Inversión</a></li>
                            <li><a th:href="@{/aviso-de-privacidad}"><i class="fa fa-angle-right"></i> Aviso de Privacidad</a></li>
                            <li class="sec-bpadding-1"><a th:href="@{/organos-de-control}"><i class="fa fa-angle-right"></i> Órganos de Control</a></li>
                        </ul>
                    </div>
                    <!--end item-->
                    
                    <div class="col-md-3 clearfix">
                        <div class="item-holder">
                            <h4 class="uppercase footer-title less-mar3">¿ERES CLIENTE?</h4>
                            <div class="clearfix"></div>
                            <div class="footer-title-bottomstrip"></div>
                            <ul class="address-info">
                                <li>Insurgentes Sur No.1605, Piso 17, Col. San José Insurgentes, Alcaldía Benito Juárez, C.P. 03900, CDMX.</li>
                                <li><i class="fa fa-phone"></i> +52 55 1328 3936</li>
                                <li>
                                    <i class="fa fa-fax"></i> Conmutador:<br/> +52 55 1328 3930<br/>
                                </li>
                                <li class="last"><i class="fa fa-envelope"></i> servicioaclientes@bcbcasadebolsa.com </li>
                            </ul>
                        </div>
                    </div>
                    <!--end item--> 
                </div>
            </div>
        </section>
        <!--end section-->

        <section th:fragment="section-credits" class="section-copyrights sec-moreless-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <span>Copyright © 2025 | Bursamétrica Casa de Bolsa S.A. de C.V.* se encuentra en trámite de autorización por parte de las autoridades competentes para cambiar su denominación social a BCB Casa de Bolsa S.A. de C.V.</span>
                    </div>
                </div>
            </div>
        </section>
        <!--end section-->

        <div th:fragment="contact">
            <div class="contacto-pop colorBM"><a href="#" class="btn-send-email" data-toggle="modal" data-target="#MainMenu-BM-contacto" data-origin="2"><i class="fa fa-envelope"></i> Contáctanos</a></div>
            <a href="#" class="scrollup colorBM"></a><!-- end scroll to top of the page--> 
        </div>

        <div th:fragment="si-modal">
            <div class="modal fade" id="si-Modal" tabindex="-1" role="dialog" aria-labelledby="siModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content white">
                        <div class="modal-header">
                            <h3 id="siModalLabel" class="modal-title text-dark">
                                <img th:src="@{public/images/iconos/logo-toro-bursametrica.svg}" width="5%" height="5%" alt="Logo Bursamétrica"/>
                                <strong>Bursamétrica Casa de Bolsa, te informa:</strong>
                            </h3>

                            <button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify text-dark">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <h5 class="text-dark">
                                        <strong>En BCB,  protegemos tus datos, evita fraudes: </strong>
                                    </h5>
                                    <ul>
                                        <li class="text-left">
                                            Nosotros <strong>NO</strong> solicitamos datos confidenciales (tales como cuentas bancarias, contraseñas, NIP, tokens o códigos de verificación) a través de ligas, correos electrónicos, WhatsApp o redes sociales.
                                        </li>
                                        <br>
                                        <li class="text-left">
                                            <strong>Nunca</strong> te solicitaremos datos bancarios o ingresar a sitios / links para depositar dinero a través de redes sociales o WhatsApp.
                                        </li>
                                    </ul>
                                    <br>
                                    
                                    <p class="text-left">
                                        Para conocer de manera segura sobre nuestros productos y servicios,  contáctanos en nuestros medios oficiales: 
                                    </p>
                                    <p class="text-left">
                                        <i class="fa fa-phone"></i> Conmutador: +52 55 1328 3930<br>
                                        <i class="fa fa-envelope"></i> Correo electrónico: servicioaclientes@bcbcasadebolsa.com<br>
                                        <i class="fa fa-globe"></i> https://www.bcbcasadebolsa.com/
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div th:fragment="modals">
            <!-- Modal Menu -->
            <div class="modal fade" id="MainMenu-BM" tabindex="-1" role="dialog" aria-labelledby="MainMenu-BM-modal" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content dark">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <a th:href="@{/}" class="button-BM-Main" >Inicio</a>
                            <a th:href="@{/acerca-de-nosotros}" class="button-BM-Main" >Acerca de Nosotros</a>
                            <a th:href="@{/productos-y-servicios}" class="button-BM-Main" >Productos y Servicios</a>
                            <a th:href="@{/personas-y-familias}" class="button-BM-Main" >Personas y Familias</a>
                            <a th:href="@{/inversionista-institucional}" class="button-BM-Main" >Inversionista Institucional</a>
                        </div>
                        <div class="modal-footer text-center">
                            <p class="text-center">
                                <img th:src="@{public/images/logo/BCB-logo-white.svg}" width="160px" height="auto" alt="Logo Bursamétrica"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Buscar -->
            <div class="modal fade" id="MainMenu-BM-buscar" tabindex="-1" role="dialog" aria-labelledby="MainMenu-BM-modal-buscar" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content dark">
                        <div class="modal-header">
                            <h5 class="text-white text-center">BUSCAR</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ingresa una palabra o frase de búsqueda" aria-label="Ingresa una palabra o frase de búsqueda" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-BM-search" type="button">
                                        <i class="fa fa-search"></i> Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                            <div class="modal-footer text-center">
                            <p class="text-center">
                                <img th:src="@{public/images/logo/BCB-logo-white.svg}" width="160px" height="auto" alt="Logo Bursamétrica"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Link Externo -->
            <div class="modal fade" id="MainMenu-BM-salir" tabindex="-1" role="dialog" aria-labelledby="MainMenu-BM-modal-salir" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content dark02">
                        <div class="modal-header">
                            <h5 class="text-white text-center">Visitar Página Externa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <p class="text-white">Estás a punto de visitar una página web fuera del dominio de bcbcasadebolsa.com</p>
                            <p class="text-white"><strong>¿Estás seguro de esta acción?</strong></p>
                            <br>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12" style="display: inline;">
                                        <div class="input-group mb-3" style="display: inline;">
                                            <div class="input-group-append" style="display: inline;">
                                                <a class="btn btn-border white" type="button" data-dismiss="modal">
                                                    Cancelar
                                                </a>


                                                <a id="outer-link" href="#" target="_blank" class="btn btn-border white">
                                                    Abrir Link
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="modal-footer text-center">
                            <p class="text-center">
                                <img th:src="@{public/images/logo/BCB-logo-white.svg}" width="160px" height="auto" alt="Logo Bursamétrica"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
	
            <!-- Modal Contacto -->
            <div class="modal fade" id="MainMenu-BM-contacto" tabindex="-1" role="dialog" aria-labelledby="MainMenu-BM-modal-contacto" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content dark">
                        <div class="modal-header">
                            <h5 class="text-white text-center">CONTACTO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <div class="col-md-8 col-centered">
                                <div class="smart-forms bmargin">
                                    <div id="smart-form">
                                        <div>
                                            <div class="section">
                                                <input type="text" name="sendertype" id="sendertype" hidden value="">
                                            </div>
                                            <!-- end section -->

                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="text" name="sendername" id="sendername" class="gui-input" placeholder="Nombre">
                                                    <span class="field-icon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                </label>
                                            </div>
                                            <!-- end section -->
                                            
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <input type="email" name="emailaddress" id="emailaddress" class="gui-input" placeholder="Correo electrónico">
                                                    <span class="field-icon"><i class="fa fa-envelope"></i></span>
                                                </label>
                                            </div>
                                            <!-- end section -->
                                            
                                            <div class="section colm colm6">
                                                <label class="field prepend-icon">
                                                    <input type="tel" name="telephone" id="telephone" class="gui-input" placeholder="Teléfono" maxlength="10">
                                                    <span class="field-icon"><i class="fa fa-phone-square"></i></span>
                                                </label>
                                            </div>
                                            <!-- end section -->
                                            
                                            <div class="section">
                                                <div class="dropdown">
                                                    <select name="senderinterest" id="senderinterest" class="btn btn-primary">
                                                        <option class="text-start" value="0">Estoy interesado en...</option>
                                                        <option class="text-start" value="1">Información de producto</option>
                                                        <option class="text-start" value="2">Que me contacte un asesor</option>
                                                        <option class="text-start" value="3">Otros</option>
                                                    </select>
                                                </div>
                                            </div> 
                                            <!-- end section -->
                                            
                                            <div class="section">
                                                <label class="field prepend-icon">
                                                    <textarea class="gui-textarea" id="sendermessage" name="sendermessage" placeholder="Ingresa tu mensaje"></textarea>
                                                    <span class="field-icon"><i class="fa fa-comments"></i></span>
                                                </label>
                                            </div>
                                            <!-- end section --> 
                                            
                                            <div class="section colm colm6">
                                                <label class="field prepend-icon">
                                                    <span class="text-white">
                                                        <input id="privacy-notice" type="checkbox"> He leído y acepto el 
                                                        <a th:href="@{/aviso-de-privacidad}" target="_blank" class="btn-privacy">Aviso de Privacidad</a>
                                                    </span>
                                                </label>
                                            </div>
                                            <!-- end section -->

                                            <div id="errorDetails" class="section hidden">
                                            </div>
                                        </div>
                                        <!-- end .form-body section -->
                                        <div class="form-footer">
                                            <button id="btnSendEmail" type="button" class="hidden button btn-primary">Enviar</button>
                                        </div>
                                        <!-- end .form-footer section -->
                                    </div>
                                </div>
                            </div>
                            
                            <div id="successNotification" class="col-md-8 col-centered hidden">
                                <h5 class="text-white text-center">¡GRACIAS!</h5>
                                <h6 class="text-white text-center">Hemos recibido tu mensaje, en breve te contactaremos.</h6>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                            <div class="modal-footer text-center">
                            <p class="text-center">
                                <img th:src="@{public/images/logo/BCB-logo-white.svg}" width="160px" height="auto" alt="Logo Bursamétrica"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Contacto -->
        </div>

        <div th:fragment="js-dependencies">
            <script th:src="@{public/js/universal/jquery.js}" type="text/javascript" ></script> 
            <script th:src="@{public/js/bootstrap/bootstrap.min.js}" type="text/javascript"></script> 
            <script th:src="@{public/js/tabs/smk-accordion.js}"></script> 
            <script th:src="@{public/js/mainmenu/customeUI.js}"></script> 
            <script th:src="@{public/js/mainmenu/jquery.sticky.js}"></script> 
            <script th:src="@{public/js/scrolltotop/totop.js}"></script>
            <script th:src="@{public/js/owl-carousel/owl.carousel.js}"></script>
            <script th:src="@{public/js/owl-carousel/custom.js}"></script> 
            <script th:src="@{public/js/scripts/functions.js}" type="text/javascript"></script>
            <script th:src="@{public/js/module/public/common/email.js}" type="text/javascript"></script>
            <script th:src="@{/public/js/icons.js}" type="text/javascript"></script>
            <script th:src="@{/public/js/module/public/common/links.js}" type="text/javascript"></script>
            
            <script type="text/javascript">
                var a = $("#header").offset().top;

                $(document).scroll(function(){
                    if($(this).scrollTop() > a)
                    {   
                    $('#header').css({"background":"rgba(0,59,114,0.95)"});
                        
                    } else {
                    $('#header').css({"background":"rgba(0,59,114,1.00)"});
                    }
                });
            </script>
        </div>
    </body>
</html>
